---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: emqx
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: emqx
      version: 5.6.1
      sourceRef:
        kind: HelmRepository
        name: emqx-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    emqxConfig:
      EMQX_ALLOW_ANONYMOUS: "false"
      EMQX_AUTH__MNESIA__PASSWORD_HASH: plain
      EMQX_DASHBOARD__DEFAULT_USERNAME: admin
    # image:
    #   repository: emqx/emqx
    #   ref: 4.3.5
    #   pullPolicy: IfNotPresent
    #   pullSecrets:
    #     - regcred
    # replicaCount: 3
    # recreatePods: true

    service:
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "${EMQX_EXTERNAL_IP}"
      externalTrafficPolicy: Cluster
    ingress:
      dashboard:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        path: /
        hosts:
          - emqx.${SECRET_DOMAIN}
        tls:
          - hosts:
              - emqx.${SECRET_DOMAIN}
            secretName: tls.emqx

    metrics:
      enabled: true
    persistence:
      enabled: false
      storageClassName: local-hostpath
      size: 250Mi

    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["emqx"]

    valuesFrom:
      - targetPath: emqxConfig.EMQX_DASHBOARD__DEFAULT_PASSWORD
        kind: Secret
        name: emqx-secret
        valuesKey: admin_password
      - targetPath: emqxConfig.EMQX_AUTH__USER__1__USERNAME
        kind: Secret
        name: emqx-secret
        valuesKey: zigbee_user
      - targetPath: emqxConfig.EMQX_AUTH__USER__1__PASSWORD
        kind: Secret
        name: emqx-secret
        valuesKey: zigbee_password
      - targetPath: emqxConfig.EMQX_AUTH__USER__2__USERNAME
        kind: Secret
        name: emqx-secret
        valuesKey: ha_user
      - targetPath: emqxConfig.EMQX_AUTH__USER__2__PASSWORD
        kind: Secret
        name: emqx-secret
        valuesKey: ha_password
      - targetPath: emqxConfig.EMQX_AUTH__USER__3__USERNAME
        kind: Secret
        name: emqx-secret
        valuesKey: zwave_user
      - targetPath: emqxConfig.EMQX_AUTH__USER__3__PASSWORD
        kind: Secret
        name: emqx-secret
        valuesKey: zwave_password
      - targetPath: emqxConfig.EMQX_AUTH__USER__4__USERNAME
        kind: Secret
        name: emqx-secret
        valuesKey: frigate_user
      - targetPath: emqxConfig.EMQX_AUTH__USER__4__PASSWORD
        kind: Secret
        name: emqx-secret
        valuesKey: frigate_password
      - targetPath: emqxConfig.EMQX_AUTH__USER__5__USERNAME
        kind: Secret
        name: emqx-secret
        valuesKey: amcrest_user
      - targetPath: emqxConfig.EMQX_AUTH__USER__5__PASSWORD
        kind: Secret
        name: emqx-secret
        valuesKey: amcrest_password

    # resources:
    #   requests:
    #     cpu: 23m
    #     memory: 204M
    #   limits:
    #     memory: 512Mi
