---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: system-monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: goldilocks
      version: 9.0.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
      interval: 5m
  timeout: 20m
  values:
    controller:
      resources:
        requests:
          cpu: 15m
          memory: 145M
        limits:
          memory: 174M

    dashboard:
      replicaCount: 1
      resources:
        requests:
          cpu: 15m
          memory: 64M
        # limits:
        #   memory: 64M

      ingress:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production

        hosts:
          - host: &host "goldilocks.${CLUSTER_NAME}.${SECRET_DOMAIN}"
            paths:
              - path: /
                type: Prefix

        tls:
          - secretName: tls.goldilocks
            hosts:
              - *host
