---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app omada-controller
  namespace: network
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  test:
    enable: false
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: 10m
    recreate: true
    cleanupOnFail: true
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    global:
      nameOverride: *app
    # hostNetwork: true
    image:
      repository: mbentley/omada-controller
      tag: 5.13@sha256:416ff2d020dd0f3c30e24ba45a24ab5bef4ef281561725bc36fd30843e30a3fb

    env:
      TZ: "${TIMEZONE}"
      MANAGE_HTTP_PORT: "8088"
      MANAGE_HTTPS_PORT: "8043"
      PORTAL_HTTP_PORT: "8088"
      PORTAL_HTTPS_PORT: "8843"
      SHOW_SERVER_LOGS: "true"
      SHOW_MONGODB_LOGS: "true"

    ingress:
      main:
        enabled: true
        ingressClassName: nginx-internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/proxy-ssl-verify: "off"
          nginx.ingress.kubernetes.io/upstream-vhost: "omada.${SECRET_DOMAIN}"
          # nginx.ingress.kubernetes.io/proxy-redirect-from: "https://(.+):8043/(.+)/$"
          # nginx.ingress.kubernetes.io/proxy-redirect-to: "https://$http_host/$2/"

          # Add a few more headers to make Omada happy
          # nginx.ingress.kubernetes.io/configuration-snippet: |
          #   proxy_set_header        X-Real-IP                 $remote_addr;
          #   proxy_set_header        X-Forwarded-For           $proxy_add_x_forwarded_for;
          #   proxy_set_header        Cookie                    $http_cookie;
          #   proxy_set_header        X-Forwarded-Proto         $scheme;
          #   proxy_set_header        Upgrade                   $http_upgrade;
          #   proxy_set_header        Connection                "upgrade";

        hosts:
          - host: &host omada.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: &certname tls.omada
    # securityContext:
    #   privileged: true

    service:
      main:
        enabled: true
        # primary: false
        ports:
          http:
            enabled: true
            port: 8043
            targetPort: 8043
            protocol: TCP
      controller:
        # primary: true
        enabled: true
        type: LoadBalancer
        loadBalancerIP: "${LB_OMADA_CONTROLLER}"
        externalTrafficPolicy: Local
        ports:
          mgmt-8088-tcp:
            enabled: true
            port: 8088
            targetPort: 8088
            protocol: TCP
          mgmt-8043-tcp:
            enabled: true
            port: 8043
            protocol: TCP
            targetPort: 8043
          portal-8843-tcp:
            enabled: true
            port: 8843
            protocol: TCP
            targetPort: 8843
          eap-discovery:
            enabled: true
            port: 29810
            protocol: UDP
            targetPort: 29810
          old-eap-mgmt:
            enabled: true
            port: 29811
            protocol: TCP
            targetPort: 29811
          old-eap-adopt:
            enabled: true
            port: 29812
            protocol: TCP
            targetPort: 29812
          old-eap-upgrade:
            enabled: true
            port: 29813
            protocol: TCP
            targetPort: 29813
          eap-adopt:
            enabled: true
            port: 29814
            protocol: TCP
            targetPort: 29814
          init-check:
            enabled: true
            port: 27001
            protocol: UDP
            targetPort: 27001
          old-init-info:
            enabled: true
            port: 27002
            protocol: TCP
            targetPort: 27002
          old-db-access:
            enabled: true
            port: 27017
            protocol: TCP
            targetPort: 27017
          db-access:
            enabled: true
            port: 27217
            protocol: TCP
            targetPort: 27217

    persistence:
      data:
        enabled: true
        mountPath: /opt/tplink/EAPController/data
        existingClaim: omada-data
      work:
        enabled: true
        mountPath: /opt/tplink/EAPController/work
        existingClaim: omada-work
      logs:
        enabled: true
        mountPath: /opt/tplink/EAPController/logs
        existingClaim: omada-logs
      # cert:
      #   enabled: true
      #   mountPath: /cert
      #   type: custom
      #   volumeSpec:
      #     secret:
      #       secretName: *certname

    resources:
      requests:
        memory: 1200Mi
        cpu: 300m
      limits:
        memory: 2000Mi
