---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: zwavejs2mqtt-nfs-config
spec:
  storageClassName: zwavejs2mqtt-nfs-config
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  nfs:
    path: /mnt/fatguys/k8s/zwavejs2mqtt
    server: ${SECRET_NAS1}
  mountOptions:
    - nfsvers=4.1
    - tcp
    - intr
    - hard
    - noatime
    - nodiratime
    - rsize=1048576
    - wsize=1048576

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zwavejs2mqtt-config
  namespace: home
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: zwavejs2mqtt-nfs-config
  resources:
    requests:
      storage: 1Mi
