---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: app-template
    repo: https://bjw-s.github.io/helm-charts/
    version: 3.6.1
    releaseName: multus
    includeCRDs: false
    namespace: network
    valuesFile: values.yaml

commonAnnotations:
  meta.helm.sh/release-name: multus
  meta.helm.sh/release-namespace: network
commonLabels:
  app.kubernetes.io/managed-by: Helm
