---
clusterName: ${cluster_name}
# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: v1.8.3
kubernetesVersion: v1.26.7
endpoint: https://${cluster_name}.${domain_name}:6443
domain: cluster.local
allowSchedulingOnMasters: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

cniConfig:
  name: none
  # urls:
  #   - https://raw.githubusercontent.com/tvories/k8s-gitops/main/k8s/clusters/${cluster_name}/integrations/cilium-quick-install/quick-install.yaml

additionalMachineCertSans:
  - ${cluster_name}.${domain_name}

nodes:
  - hostname: talos-test-cp-1.${domain_name}
    controlPlane: true
    ipAddress: 192.168.80.190
    installDisk: /dev/sda
    # machineDisks:
    #   - device: /dev/sda
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eth0
        dhcp: true
        mtu: 9000
    patches:
      - |-
        machine:
          kubelet:
            extraMounts:
              - destination: /var/mnt/sata
                type: bind
                source: /var/mnt/sata
                options:
                  - rbind
                  - rshared
                  - rw

  - hostname: talos-test-cp-2.${domain_name}
    controlPlane: true
    ipAddress: 192.168.80.191
    installDisk: /dev/sda
    # machineDisks:
    #   - device: /dev/sda
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eth0
        dhcp: true
        mtu: 9000
    patches:
      - |-
        machine:
          kubelet:
            extraMounts:
              - destination: /var/mnt/sata
                type: bind
                source: /var/mnt/sata
                options:
                  - rbind
                  - rshared
                  - rw
  - hostname: talos-test-cp-3.${domain_name}
    controlPlane: true
    ipAddress: 192.168.80.190
    installDisk: /dev/sda
    # machineDisks:
    #   - device: /dev/sda
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eth0
        dhcp: true
        mtu: 9000
    patches:
      - |-
        machine:
          kubelet:
            extraMounts:
              - destination: /var/mnt/sata
                type: bind
                source: /var/mnt/sata
                options:
                  - rbind
                  - rshared
                  - rw

controlPlane:
  patches:
    - |-
      cluster:
        allowSchedulingOnMasters: true
        apiServer:
          extraArgs:
            anonymous-auth: true

    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    - |-
      machine:
        kubelet:
          extraArgs:
            feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.80.0/24
        sysctls:
          fs.inotify.max_user_watches: "1048576"
          fs.inotify.max_user_instances: "8192"
          net.ipv4.ip_unprivileged_port_start: 0
        time:
          disabled: false
          servers:
            - us.pool.ntp.org
