---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: frigate
  namespace: home
spec:
  interval: 5m
  chart:
    spec:
      chart: frigate
      version: 8.2.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: docker.io/blakeblackshear/frigate
      # repository: ghcr.io/k8s-at-home/frigate
      tag: 0.11.0-beta2

    podAnnotations:
      configmap.reloader.stakater.com/reload: "frigate-config"
      secret.reloader.stakater.com/reload: "frigate-secrets"

    env:
      TZ: ${TIMEZONE}
    envFrom:
      - secretRef:
          name: frigate

    persistence:
      data:
        enabled: true
        existingClaim: frigate-data

      config:
        enabled: true
        type: configMap
        name: frigate-config
        subPath: config.yaml
        mountPath: /config/config.yml
        readOnly: true

      media:
        enabled: true
        existingClaim: frigate-nfs-media
        mountPath: /media

      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 4Gi
        mountPath: /dev/shm
      
      coral:
        enabled: true
        type: hostPath
        hostPath: /dev
        mountPath: /dev

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: &host "frigate.${SECRET_DOMAIN}"
            paths:
              - path: /
        tls:
          - secretName: tls.frigate
            hosts:
              - *host

    configmap:
      config:
        enabled: false

    securityContext:
      privileged: true

    service:
      main:
        ports:
          http:
            port: &port 5000

    probes:
      liveness:
        enabled: false
        custom: true
        spec:
          httpGet:
            path: /api/version
            port: *port
          initialDelaySeconds: 40
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness:
        enabled: false
        custom: true
        spec:
          httpGet:
            path: /api/version
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      startup:
        enabled: false
        custom: true
        spec:
          httpGet:
            path: /api/version
            port: *port
          failureThreshold: 30
          periodSeconds: 10

    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: feature.node.kubernetes.io/custom-coral-tpu
                  operator: In
                  values:
                    - "true"

    resources:
      requests:
        memory: 100Mi
        cpu: 500m
      limits:
        memory: 4000Mi

  valuesFrom:
    - kind: Secret
      name: frigate
      valuesKey: mqtt_password
      targetPath: env.FRIGATE_MQTT_PASSWORD
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: doorbell_ip
      targetPath: env.FRIGATE_DOORBELL_IP_ADDRESS
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: doorbell_user
      targetPath: env.FRIGATE_DOORBELL_CAMERA_USER
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: doorbell_password
      targetPath: env.FRIGATE_DOORBELL_VIEWER_PASSWORD
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: mqtt_user
      targetPath: env.FRIGATE_MQTT_USER
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: front_door_password
      targetPath: env.FRIGATE_FRONT_DOOR_VIEWER_PASSWORD
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: front_door_ip
      targetPath: env.FRIGATE_FRONT_DOOR_IP_ADDRESS
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: front_door_user
      targetPath: env.FRIGATE_FRONT_DOOR_USER
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: garage_password
      targetPath: env.FRIGATE_GARAGE_VIEWER_PASSWORD
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: garage_user
      targetPath: env.FRIGATE_GARAGE_USER
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: garage_ip
      targetPath: env.FRIGATE_GARAGE_IP_ADDRESS
      optional: false
