---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
# namePrefix: frigate-
resources:
  - ./pvc.yaml
  - ./secret.sops.yaml
  - ./helm-release.yaml
# configMapGenerator:
#   - name: frigate-config
#     files:
#       - config.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
# patchesJson6902:
#   - target:
#       group: helm.toolkit.fluxcd.io
#       version: v2beta1
#       kind: HelmRelease
#       name: common
#     patch: |-
#       - op: replace
#         path: /metadata/name
#         value: frigate
# patchesStrategicMerge:
#   - helm-release.yaml