---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets
  namespace: flux-system
spec:
  path: ./k8s/clusters/nas/apps/kube-system/external-secrets/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta2
      kind: HelmRelease
      name: external-secrets
      namespace: kube-system
  interval: 15m
  retryInterval: 1m
  timeout: 2m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets-stores
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-external-secrets
  path: ./k8s/clusters/nas/apps/kube-system/external-secrets/stores
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  wait: true
  interval: 15m
  retryInterval: 1m
  timeout: 2m
