---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: omada-exporter
  namespace: system-monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: omada-exporter-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        OMADA_USER: "{{ .OMADA_EXPORTER_USERNAME }}"
        OMADA_PASS: "{{ .OMADA_EXPORTER_PASSWORD }}"
  dataFrom:
    - extract:
        key: omada
