---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: system-controllers
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-controller
      version: 4.0.0
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
      interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    controller:
      serviceMonitor:
        create: true
    webhook:
      enabled: false
      tls:
        certManagerIssuerRef:
          name: snapshot-controller-webhook-ca
          kind: Issuer
