---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vector-aggregator
  namespace: system-monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    controller:
      replicas: 3
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      # https://github.com/vectordotdev/vector/issues/6715
      repository: ghcr.io/onedr0p/vector
      tag: 0.34.1-debian

    args: ["--config", "/etc/vector/vector.yaml"]

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: "${LB_VECTOR_AGGREGATOR}"
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8686
          kubernetes-logs:
            enabled: true
            port: 6000
          udmp-logs:
            enabled: true
            port: 6100
          journald-logs:
            enabled: true
            port: 6001
          talos-kernel:
            enabled: true
            port: 6050
            protocol: UDP
          talos-service:
            enabled: true
            port: 6051
            protocol: UDP

    persistence:
      config:
        enabled: true
        type: configMap
        name: vector-aggregator-configmap
        subPath: vector.yaml
        mountPath: /etc/vector/vector.yaml
        readOnly: true
      data:
        enabled: true
        type: emptyDir
        mountPath: /vector-data-dir

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
