---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  interval: 30m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.17.4
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    toolbox:
      enabled: false

    monitoring:
      enabled: true
      createPrometheusRules: true

    resources:
      requests:
        cpu: 50m
        memory: 128M

    configOverride: |
      [global]
      bdev_enable_discard = true
      bdev_async_discard = true

    cephClusterSpec:
      # cephVersion:
      # image: quay.io/ceph/ceph:v17.2.0
      network:
        provider: host
      #   connections:
      #     compression:
      #       enabled: true

      resources:
        mgr:
          requests:
            cpu: "50m"
            memory: "400M"
          # limits:
          #   memory: "1219M"
        mon:
          requests:
            cpu: "63m"
            memory: "477M"
          # limits:
          #   memory: "1059M"
        osd:
          requests:
            cpu: "80m"
            memory: "1471"
          # limits:
          #   memory: "5944M"
        prepareosd:
          requests:
            cpu: "250m"
            memory: "50Mi"
          # limits:
          #   memory: "200Mi"
        mgr-sidecar:
          requests:
            cpu: "49m"
            memory: "94M"
          # limits:
          #   memory: "208M"
        crashcollector:
          requests:
            cpu: "15m"
            memory: "64M"
          limits:
            memory: "64M"
        logcollector:
          requests:
            cpu: "20m"
            memory: "32M"
          # limits:
          #   memory: "1G"
        cleanup:
          requests:
            cpu: "250m"
            memory: "100M"
          # limits:
          #   memory: "1G"

      csi:
        csiRBDPluginResource: |
          - name : driver-registrar
            resource:
              requests:
                memory: 128Mi
                cpu: 50m
              limits:
                memory: 256Mi
                cpu: 100m
          - name : csi-rbdplugin
            resource:
              requests:
                memory: 512Mi
                cpu: 60m
              limits:
                memory: 1Gi
                cpu: 500m
          - name : liveness-prometheus
            resource:
              requests:
                memory: 128Mi
                cpu: 50m
              limits:
                memory: 256Mi
                cpu: 100m
        csiCephFSProvisionerResource: |
          - name : csi-provisioner
            resource:
              requests:
                memory: 128Mi
                cpu: 20m
              limits:
                memory: 256Mi
                cpu: 200m
          - name : csi-resizer
            resource:
              requests:
                memory: 128Mi
                cpu: 20m
              limits:
                memory: 256Mi
                cpu: 200m
          - name : csi-attacher
            resource:
              requests:
                memory: 128Mi
                cpu: 20m
              limits:
                memory: 256Mi
                cpu: 200m
          - name : csi-snapshotter
            resource:
              requests:
                memory: 128Mi
                cpu: 20m
              limits:
                memory: 256Mi
                cpu: 200m
          - name : csi-cephfsplugin
            resource:
              requests:
                memory: 512Mi
                cpu: 50m
              limits:
                memory: 1Gi
                cpu: 500m
          - name : liveness-prometheus
            resource:
              requests:
                memory: 128Mi
                cpu: 10m
              limits:
                memory: 256Mi
                cpu: 100m

      crashCollector:
        disable: false

      dashboard:
        enabled: true
        urlPrefix: /

      storage:
        useAllNodes: false
        useAllDevices: false
        config:
          osdsPerDevice: "1"
        nodes:
          # - name: "talos-cp-1"
          #   devices:
          #     - name: "sdb"
          # - name: "talos-cp-2"
          #   devices:
          #     - name: "sdb"
          # - name: "talos-worker-1"
          #   devices:
          #     - name: "sdb"
          # - name: "talos-worker-2"
          #   devices:
          #     - name: "sdb"
          # - name: "talos-worker-3"
          #   devices:
          #     - name: "sdb"
          # - name: "physical1"
          #   devices:
          #     - name: "sdb"
          # - name: "physical2"
          #   devices:
          #     - name: "sdb"
          # - name: "sff1"
          #   devices:
          #     - name: "sdb"
          - name: "m720q-1"
            devices:
              - name: "/dev/disk/by-id/nvme-TEAM_TM8FP6001T_TPBF2304210050300351"
          - name: "m720q-2"
            devices:
              - name: "/dev/disk/by-id/nvme-TEAM_TM8FP6001T_TPBF2305150020700998"
          - name: "m720q-3"
            devices:
              - name: "/dev/disk/by-id/nvme-TEAM_TM8FP6001T_TPBF2307170050100778"

    ingress:
      dashboard:
        ingressSClassName: nginx-internal
        annotations:
          # traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
        host:
          name: &host "rook.${CLUSTER_NAME}.${SECRET_DOMAIN}"
          path: "/"
        tls:
          - secretName: tls.rook-ceph
            hosts:
              - *host

    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-rbdplugin-snapclass

    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          parameters:
            imageFormat: "2"
            imageFeatures: layering
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
            csi.storage.k8s.io/fstype: ext4

    cephFileSystems:
      - name: ceph-filesystem
        spec:
          metadataPool:
            replicated:
              size: 3
          dataPools:
            - failureDomain: host
              replicated:
                size: 3
          metadataServer:
            activeCount: 1
            activeStandby: true
            resources:
              requests:
                cpu: "35m"
                memory: "64M"
              limits:
                memory: "144M"
        storageClass:
          enabled: true
          isDefault: false
          name: ceph-filesystem
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          mountOptions: []
          parameters:
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
            csi.storage.k8s.io/fstype: ext4

    cephObjectStores:
      - name: ceph-objectstore
        spec:
          metadataPool:
            failureDomain: host
            replicated:
              size: 3
          dataPool:
            failureDomain: host
            erasureCoded:
              dataChunks: 2
              codingChunks: 1
          preservePoolsOnDelete: true
          gateway:
            port: 80
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 2Gi
            instances: 1
          healthCheck:
            bucket:
              interval: 60s
        storageClass:
          enabled: true
          name: ceph-bucket
          reclaimPolicy: Delete
          parameters:
            region: us-east-1
