---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: zigbee2mqtt
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: zigbee2mqtt-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        ZIGBEE2MQTT_CONFIG_MQTT_USER: "{{ .ZIGBEE2MQTT_CONFIG_MQTT_USER }}"
        ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: "{{ .ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD}}"
  dataFrom:
    - extract:
        key: zigbee2mqtt
