---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: home
spec:
  interval: 5m
  chart:
    spec:
      chart: zigbee2mqtt
      version: 9.3.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/koenkk/zigbee2mqtt
      tag: 1.26.0

    env:
      TZ: "${TIMEZONE}"
      ZIGBEE2MQTT_DATA: /data
      # DEBUG: "zigbee-herdsman*"

    securityContext:
      privileged: true

    persistence:
      config:
        enabled: true
        existingClaim: zigbee2mqtt-config
        mountPath: /data
      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
        mountPath: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
        hostPathType: CharDevice

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production

        hosts:
        - host: &host zig.${SECRET_DOMAIN}
          paths:
          - path: /

        tls:
        - secretName: tls.zigbee2mqtt
          hosts:
          - *host

    config:
      mqtt:
        base_topic: zigbee2mqtt
        server: "mqtt://emqx:1883"
        user: ${ZIGBEE2MQTT_MQTT_USER}
        password: ${ZIGBEE2MQTT_MQTT_PASSWORD}

      homeassistant: true

      device_options:
        retain: true

      permit_join: false

      serial:
        port: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

      advanced:
        log_output:
        - console
        network_key: [9, 3, 2, 7, 9, 3, 13, 15, 0, 2, 13, 6, 8, 11, 12, 13]
        # pan_id: 6752

      # Both of these need to be enabled for the webui
      frontend:
        port: 8080
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - {key: "feature.node.kubernetes.io/custom-zigbee", operator: In, values: ["true"]}
