#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./k8s/clusters/cluster-0/talos/clusterconfig/kubeconfig)
export TALOSCONFIG=$(expand_path $PWD/k8s/clusters/cluster-0/talos/clusterconfig/talosconfig)