# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
*kubeconfig*
# vscode-sops
.decrypted~*.yaml
.envrc
.terraform/
*.tfstate
*.lock.hcl
backend.conf
*.tfvars
*.pkrvars.hcl

*talosconfig*

*.log
*sa.json
*credential.json

# Ansible
secrets.yaml
secret.yaml
secret.yml
secrets.yml

.mise.toml