---
apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: postgres
  namespace: database
spec:
  env:
    - name: ALLOW_NOSSL
      value: "true"
  teamId: "acid"
  volume:
    size: 75Gi
    storageClass: local-hostpath
  numberOfInstances: 3
  users:
    postgres: # database owner
      - superuser
      - createdb
  postgresql:
    version: "15"

  # Restore procedure:
  # - Remove the existing cluster
  # - Uncomment the "clone" section below to restore a point in time backup
  # - Apply the config and let the cluster restore
  # - Uncomment the "clone" section below
  # clone:
  #   cluster: "postgres"  # The source cluster name
  #   timestamp: "2023-03-21T19:50:00+00:00"  # timezone required (offset relative to UTC, see RFC 3339 section 5.6)
