---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tautulli
  namespace: media
spec:
  releaseName: tautulli
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: tautulli
  install:
    remediation:
      retries: 1
  upgrade:
    remediation:
      retries: 1
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      tautulli:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/tautulli
              tag: 2.16.1
            env:
              TZ: ${TIMEZONE}
              TAUTULLI_HTTP_BASE_URL: https://tautulli.${SECRET_DOMAIN}
              TAUTULLI_HTTP_PORT: &port 8181
            # envFrom:
            #   - secretRef:
            #       name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    ingress:
      app:
        className: nginx-internal
        hosts:
          - host: "tautulli.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: tautulli
        globalMounts:
          - path: /config
      cache:
        existingClaim: tautulli-cache
        globalMounts:
          - path: /config/cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          tautulli:
            app:
              - path: /config/logs
                subPath: logs
              - path: /scripts
                subPath: scripts
              - path: /tmp
                subPath: tmp
            jbops:
              - path: /scripts
                subPath: scripts
              - path: /tmp
                subPath: tmp
