---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-metallb
  namespace: flux-system
spec:
  path: ./k8s/clusters/nas/apps/network/metallb/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta2
      kind: HelmRelease
      name: metallb
      namespace: network
  interval: 15m
  retryInterval: 1m
  timeout: 2m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-metallb-config
  namespace: flux-system
spec:
  path: "./k8s/clusters/nas/apps/network/metallb/config/"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  dependsOn:
    - name: cluster-apps-metallb
