---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: thanos
  namespace: system-monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: thanos-objstore-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        objstore.yml: |
          type: s3
          config:
            bucket: thanos
            endpoint: {{ .endpoint }}
            access_key: {{ .minio_accesskey }}
            secret_key: {{ .minio_secretkey }}
  dataFrom:
    - extract:
        key: minio
