---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos
  namespace: system-monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: thanos
      version: 15.7.29
      sourceRef:
        kind: HelmRepository
        name: bitnami-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 1
  uninstall:
    keepHistory: false
  values:
    objstoreConfig:
      type: s3
      config:
        bucket: thanos
        endpoint: "s3.nas.${SECRET_DOMAIN}"
        region: ""
    queryFrontend:
      enabled: false
    query:
      enabled: true
      replicaCount: 3
      podAntiAffinityPreset: hard
      replicaLabel:
        - replica
      dnsDiscovery:
        sidecarsService: kube-prometheus-stack-thanos-discovery
        sidecarsNamespace: system-monitoring
        # stores:
        #   - "dnssrv+_grpc._tcp.kube-prometheus-stack-thanos-discovery"
        #   - "thanos.${CLUSTER_NAME}.${SECRET_DOMAIN}:443"

        # limits:
        #   memory: 99M

      ingress:
        enabled: true
        hostname: &host "thanos.${CLUSTER_NAME}.${SECRET_DOMAIN}"
        ingressClassName: "nginx-internal"
        tls: true
        extraTls:
          - hosts:
              - *host
    bucketweb:
      enabled: true
    compactor:
      enabled: true
      extraFlags:
        - "--compact.concurrency"
        - "4"
      retentionResolutionRaw: 14d
      retentionResolution5m: 30d
      retentionResolution1h: 180d
      ingress:
        enabled: true
        hostname: &hostc "thanos-compactor.${SECRET_DOMAIN}"
        ingressClassName: "nginx-internal"
        tls: true
        extraTls:
          - hosts:
              - *hostc
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 100Gi
    storegateway:
      enabled: true
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 10Gi
    ruler:
      enabled: true
      dnsDiscovery:
        enabled: true
      alertmanagers:
        - http://kube-prometheus-stack-alertmanager.system-monitoring:9093
      clusterName: ${CLUSTER_NAME}
      replicaLabel: __replica__
      extraFlags: ["--web.prefix-header=X-Forwarded-Prefix"]
      config: |-
        groups:
          - name: PrometheusWatcher
            rules:
              - alert: PrometheusDown
                annotations:
                  summary: A Prometheus has disappeared from Prometheus target discovery
                expr: absent(up{job="kube-prometheus-stack-prometheus"})
                for: 5m
                labels:
                  severity: critical
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 2Gi

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  valuesFrom:
    - kind: Secret
      name: thanos-secret
      valuesKey: s3-bucket
      targetPath: objstoreConfig.config.bucket
    - kind: Secret
      name: thanos-secret
      valuesKey: s3-endpoint
      targetPath: objstoreConfig.config.endpoint
    # - kind: ConfigMap
    #   name: thanos-ceph-bucket
    #   valuesKey: BUCKET_REGION
    #   targetPath: objstoreConfig.config.region
    - kind: Secret
      name: thanos-secret
      valuesKey: access-key
      targetPath: objstoreConfig.config.access_key
    - kind: Secret
      name: thanos-secret
      valuesKey: secret-key
      targetPath: objstoreConfig.config.secret_key
