---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos
  namespace: system-monitoring
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: thanos
  maxHistory: 2
  install:
    remediation:
      retries: 1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 1
  uninstall:
    keepHistory: false
  values:
    # Reference existing secret with objstore.yml
    objstoreConfig:
      create: false
      name: thanos-objstore-secret
      key: objstore.yml

    # Discover Prometheus sidecars
    additionalEndpoints:
      - dnssrv+_grpc._tcp.kube-prometheus-stack-thanos-discovery.system-monitoring.svc.cluster.local
    additionalReplicaLabels:
      - replica

    serviceMonitor:
      enabled: true

    queryFrontend:
      enabled: false

    query:
      replicas: 3
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: thanos
                  app.kubernetes.io/component: query
              topologyKey: kubernetes.io/hostname
      resources:
        requests:
          cpu: 10m
      ingress:
        enabled: true
        ingressClassName: nginx-internal
        hosts:
          - thanos.${CLUSTER_NAME}.${SECRET_DOMAIN}
        tls:
          - hosts:
              - thanos.${CLUSTER_NAME}.${SECRET_DOMAIN}

    bucketWeb:
      enabled: true
      resources:
        requests:
          cpu: 10m

    compact:
      enabled: true
      resources:
        requests:
          cpu: 10m
      extraArgs:
        - --retention.resolution-raw=14d
        - --retention.resolution-5m=30d
        - --retention.resolution-1h=180d
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 100Gi
      ingress:
        enabled: true
        ingressClassName: nginx-internal
        hosts:
          - thanos-compactor.${SECRET_DOMAIN}
        tls:
          - hosts:
              - thanos-compactor.${SECRET_DOMAIN}

    storeGateway:
      enabled: true
      resources:
        requests:
          cpu: 10m
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 10Gi

    rule:
      enabled: true
      resources:
        requests:
          cpu: 10m
      alertmanagersConfig:
        create: true
        value: |-
          alertmanagers:
            - static_configs:
                - targets:
                    - "kube-prometheus-stack-alertmanager.system-monitoring:9093"
              scheme: http
              api_version: v2
      extraArgs:
        - --label=cluster="${CLUSTER_NAME}"
        - --label=replica="__replica__"
        - --web.prefix-header=X-Forwarded-Prefix
      rules:
        create: true
        value: |-
          groups:
            - name: PrometheusWatcher
              rules:
                - alert: PrometheusDown
                  annotations:
                    summary: A Prometheus has disappeared from Prometheus target discovery
                  expr: absent(up{job="kube-prometheus-stack-prometheus"})
                  for: 5m
                  labels:
                    severity: critical
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 2Gi
