---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  releaseName: esphome
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          secret.reloader.stakater.com/reload: esphome-secret
        containers:
          main:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2024.2.0
            resources:
              requests:
                cpu: 10m
                memory: 100M
              # limits:
              #   memory: 2048M
            env:
              TZ: "${TIMEZONE}"
              ESPHOME_DASHBOARD_USE_PING: true

    service:
      main:
        ports:
          http:
            port: 6052
    ingress:
      main:
        enabled: true
        className: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: &host "esp.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: tls.esphome
    persistence:
      config:
        enabled: true
        existingClaim: esphome-nfs-config
      # secrets:
      #   enabled: true
      #   type: secret
      #   name: esphome-secret
      #   mountPath: /config/secrets.yaml
      #   subPath: secrets.yaml
      # esphome-cache:
      #   enabled: true
      #   type: emptyDir
      #   mountPath: /config/.esphome
