---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app snmp-exporter-cisco-switch
  namespace: system-monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: prometheus-snmp-exporter
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    image:
      repository: quay.io/prometheus/snmp-exporter
    extraArgs:
      - "--config.file=/config/snmp.yaml"
    extraConfigmapMounts:
      - name: *app
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *app
        readOnly: true
        defaultMode: 420
    serviceMonitor:
      enabled: true
      namespace: system-monitoring
      params:
        - name: cisco-switch
          module:
            - cisco
          target: cisco-switch.${SECRET_DOMAIN}
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - sourceLabels: [__param_target]
          targetLabel: instance

    resources:
      requests:
        cpu: 15m
        memory: 64M
      # limits:
      #   memory: 508M
