---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cnpg
  namespace: database
spec:
  releaseName: cnpg
  interval: 5m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.15.1
      sourceRef:
        kind: HelmRepository
        name: cnpg-charts
        namespace: flux-system
      interval: 5m
  values:
    # replicaCount: 1
    # podAnnotations:
    #   configmap.reloader.stakater.com/reload: cnpg-controller-manager-config
    resources:
      requests:
        cpu: 15m
        memory: 128Mi
