---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: local-hostpath
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.5
      sourceRef:
        name: democratic-csi
        kind: HelmRepository
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    csiDriver:
      name: "local-hostpath.democratic-csi.${CLUSTER_NAME}.home.arpa"
      storageCapacity: true
      fsGroupPolicy: File

    storageClasses:
      - name: local-hostpath
        defaultClass: false
        reclaimPolicy: Retain
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: false

    volumeSnapshotClasses:
      - name: democratic-csi-local-hostpath
        deletionPolicy: Delete

    controller:
      enabled: true
      strategy: node
      externalProvisioner:
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=false
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1
      externalResizer:
        enabled: false

      externalSnapshotter:
        enabled: true
        extraArgs:
          - --leader-election=false
          - --node-deployment=true

    node:
      driver:
        extraVolumeMounts:
          - name: local-hostpath
            mountPath: &path /var/lib/democratic-csi-local-hostpath
            mountPropagation: Bidirectional

      extraVolumes:
        - name: local-hostpath
          hostPath:
            path: *path
            type: DirectoryOrCreate

    driver:
      config:
        driver: local-hostpath
        instance_id: ${CLUSTER_NAME}-local-hostpath
        local-hostpath:
          shareBasePath: *path
          controllerBasePath: *path
          dirPermissionsMode: "0770"
          dirPermissionsUser: 0
          dirPermissionsGroup: 0
