---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-object-storage
  namespace: gitlab
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-object-storage
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        AWS_ACCESS_KEY_ID: "{{ .minio_accesskey }}"
        AWS_SECRET_ACCESS_KEY: "{{ .minio_secretkey }}"
        connection: |
          provider: AWS
          region: us-east-1
          aws_access_key_id: "{{ .minio_accesskey }}"
          aws_secret_access_key: "{{ .minio_secretkey}}"
          # The full URL to your RustFS instance
          endpoint: "https://s3.nas.t-vo.us"
          # Required for most S3-compatible storage like RustFS/MinIO
          path_style: true

  dataFrom:
    - extract:
        key: minio

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-secrets
  namespace: gitlab
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        initial_root_password: "{{ .inital_root_password }}"
        redis_password: "{{ .redis_password }}"
        postgres_user: "{{ .postgres_user }}"
        postgres_password: "{{ .postgres_password }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: gitlabhq_production praefect_production
        INIT_POSTGRES_HOST: postgres.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .postgres_user }}"
        INIT_POSTGRES_PASS: "{{ .postgres_password }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

  dataFrom:
    - extract:
        key: zalando-postgres
    - extract:
        key: gitlab
