---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-object-storage
  namespace: gitlab
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-object-storage
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        AWS_ACCESS_KEY_ID: "{{ .minio_accesskey }}"
        AWS_SECRET_ACCESS_KEY: "{{ .minio_secretkey }}"
        connection: |
          provider: AWS
          region: us-east-1
          aws_access_key_id: "{{ .minio_accesskey }}"
          aws_secret_access_key: "{{ .minio_secretkey}}"
          # The full URL to your RustFS instance
          endpoint: "https://{{ .endpoint }}"
          # Required for most S3-compatible storage like RustFS/MinIO
          path_style: true
        s3cfg: |
          [default]
          access_key = {{ .minio_accesskey }}
          secret_key = {{ .minio_secretkey }}
          host_base = {{ .endpoint }}
          host_bucket = {{ .endpoint }}/%(bucket)
          use_https = True
          signature_v2 = False

  dataFrom:
    - extract:
        key: minio

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-secrets
  namespace: gitlab
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        initial_root_password: "{{ .initial_root_password }}"
        redis_password: "{{ .redis_password }}"
        postgres_user: "{{ .postgres_user }}"
        postgres_password: "{{ .postgres_password }}"
        secrets.yml: |
          {{ .rails_secret}}
        praefect_auth_token: "{{ .praefect_secret }}"
        gitlab_shell_secret: "{{ .gitlab_shell_secret }}"
        runner_secret: "{{ .runner_secret }}"

        # Postgres Init
        INIT_POSTGRES_DBNAME: gitlabhq_production praefect_production
        INIT_POSTGRES_HOST: postgres6-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .postgres_user }}"
        INIT_POSTGRES_PASS: "{{ .postgres_password }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

  dataFrom:
    - extract:
        key: zalando-postgres
    - extract:
        key: gitlab

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-redis-secret
  namespace: gitlab
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-redis-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        secret: "{{ .redis_password }}"
  dataFrom:
    - extract:
        key: gitlab

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-runner-secret
  namespace: gitlab
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-runner-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        runner-registration-token: ""
        runner-token: "{{ .runner_secret }}"
  dataFrom:
    - extract:
        key: gitlab

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-oauth
  namespace: gitlab
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-oauth
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        provider: |
          name: openid_connect
          label: Authentik
          args:
            name: openid_connect
            scope: ['openid', 'profile', 'email']
            response_type: code
            issuer: {{ .AUTHENTIK_URL }}/application/o/gitlab/
            client_auth_method: query
            discovery: true
            uid_field: preferred_username
            pkce: true
            admin_groups: ['GitLab Admins']
            external_groups: []
            client_options:
              identifier: {{ .oauth_client_id }}
              secret: {{ .oauth_client_secret }}
              redirect_uri: https://gitlab.t-vo.us/users/auth/openid_connect/callback
  dataFrom:
    - extract:
        key: gitlab
    - extract:
        key: authentik
