---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.0.1/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gitlab
  namespace: gitlab
spec:
  interval: 30m
  chart:
    spec:
      chart: gitlab
      version: 9.7.1
      sourceRef:
        kind: HelmRepository
        name: gitlab-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 1
  uninstall:
    keepHistory: false
  values:
    global:
      gitlabVersion: "18.7.1"
      edition: ce
      timezone: ${TIMEZONE}
      hosts:
        domain: ${SECRET_DOMAIN}
        gitlab:
          name: gitlab.${SECRET_DOMAIN}
          https: true
      monitoring:
        enabled: true
      minio:
        enabled: false
      email:
        display_name: Gitlab
        from: gitlab@${SECRET_DOMAIN}
        reply_to: "gitlab@${SECRET_DOMAIN}"
      smtp:
        enabled: true
        address: "${GATEWAY_IP}"
        port: 25
        authentication: ""
        ssl_verify_mode: none
        password: {}
      psql:
        host: postgres6-rw.database.svc.cluster.local
        port: 5432
        password:
          useSecret: true
          secret: gitlab-secrets
          key: postgres_password
        sslmode: disable

      redis:
        host: gitlab-valkey.gitlab.svc.cluster.local
        port: 6379
        password:
          enabled: true
          secret: gitlab-secrets
          key: redis_password
      gitaly:
        enabled: true
        authToken:
          secret: gitlab-secrets
          key: praefect_auth_token

      praefect:
        enabled: true
        ntpHost: ${GATEWAY_IP}
        # This token is used by Rails/Workhorse to talk to Praefect
        authToken:
          secret: gitlab-secrets
          key: praefect_auth_token

        dbSecret:
          secret: gitlab-secrets
          key: postgres_password

        psql:
          host: postgres6-rw.database.svc.cluster.local
          port: 5432
          dbName: praefect_production
          user: gitlab
          sslMode: disable

        virtualStorages:
          - name: default
            gitalyReplicas: 1
            maxUnavailable: 0
            persistence:
              enabled: true
              storageClass: ceph-block
              accessMode: ReadWriteOnce
              size: 20Gi
      ingress:
        enabled: true
        configureCertmanager: false
        class: nginx-external
        annotations:
          kubernetes.io/ingress.allow-http: "false"
          kubernetes.io/tls-acme: true
      initialRootPassword:
        secret: gitlab-secrets
        key: initial_root_password
      shell:
        secret: gitlab-secrets
        key: gitlab_shell_secret
      railsSecrets:
        secret: gitlab-secrets
        key: secrets.yml

      appConfig:
        object_store:
          enabled: true
          connection:
            secret: gitlab-object-storage
            key: connection
        lfs:
          enabled: true
          bucket: gitlab-lfs

        artifacts:
          bucket: gitlab-artifacts

        uploads:
          bucket: gitlab-uploads

        externalDiffs:
          enabled: true
          bucket: gitlab-external-diffs

        ciSecureFiles:
          enabled: true
          bucket: gitlab-ci-secure-files

        packages:
          bucket: gitlab-packages

        backups:
          bucket: gitlab-backups
          tmpBucket: gitlab-tmp

        dependencyProxy:
          enabled: true
          bucket: gitlab-dependency-proxy

        terraformState:
          enabled: true
          bucket: gitlab-terraform-state

    redis:
      install: false
    postgresql:
      install: false
    prometheus:
      install: false
    nginx-ingress:
      enabled: false
    installCertmanager: false
    certmanager:
      installCRDs: false
    gitlab-runner:
      install: true
    certmanager-issuer:
      email: ${SECRET_CLOUDFLARE_EMAIL}
    gitlab:
      migrations:
        enabled: true
        extraInitContainers: |
          - name: init-db
            image: ghcr.io/home-operations/postgres-init:18.1
            envFrom:
              - secretRef:
                  name: gitlab-secrets
      kas:
        ingress:
          tls:
            secretName: kas-tls
      gitlab-shell:
        sshDaemon: gitlab-sshd
      gitaly:
        extraEnvFrom:
          # Mount the existing object store secret to the expected environment variables.
          AWS_ACCESS_KEY_ID:
            secretKeyRef:
              name: gitlab-object-storage
              key: AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY:
            secretKeyRef:
              name: gitlab-object-storage
              key: AWS_SECRET_ACCESS_KEY
        backup:
          # This is the connection string for Gitaly server side backups.
          goCloudUrl: "s3://s3.nas.${SECRET_DOMAIN}/gitlab-backups"
      webservice:
        maxReplicas: 2
        maxUnavailable: 1
        minReplicas: 1
        resources:
          requests:
            cpu: 50m
            memory: 1Gi
          limits:
            memory: 2Gi
        workerProcesses: 1
        ingress:
          proxyBodySize: 0 # To allow large file uploads like imports
          tls:
            secretName: gitlab-tls
      registry:
        ingress:
          tls:
            secretName: registry-tls
      sidekiq:
        maxReplicas: 2
        minReplicas: 1
        resources:
          limits:
            memory: 2Gi
          requests:
            cpu: 50m # Assume single-process, 1 CPU
            memory: 250M
      toolbox:
        enabled: true
        backups:
          cron:
            enabled: true
            schedule: "0 5 * * *" # 5 AM UTC
          objectStorage:
            # https://docs.gitlab.com/charts/backup-restore/#configuring-workload-identity-federation-for-gke
            backend: s3cmd # using rustfs
            config:
              secret: gitlab-object-storage
              key: connection
        extraEnv:
          GITLAB_BACKUP_MAX_CONCURRENCY: 4
          GITLAB_BACKUP_MAX_STORAGE_CONCURRENCY: 1
