---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: gitlab
  namespace: gitlab
spec:
  releaseName: gitlab
  interval: 15m
  chart:
    spec:
      chart: gitlab
      version: 7.9.1
      sourceRef:
        kind: HelmRepository
        name: gitlab-charts
        namespace: flux-system
      interval: 15m
  timeout: 30m
  values:
    global:
      edition: ee
      time_zone: ${TIMEZONE}
      ingress:
        class: nginx-external
        annotations:
        nginx.ingress.kubernetes.io/enable-global-auth: "false"
        configureCertmanager: false
        tls:
          enabled: true
          secretName: global-tls
      # appConfig:
      #   object_store:
      #     enabled: true
      #     proxy_download: true
      #     storage_options: {}
      #     connection:
      #       secret: gitlab-config
      #   lfs:
      #     enabled: true
      #     proxy_download: true
      #     bucket: gitlab-lfs
      #     connection: {}
      #   artifacts:
      #     enabled: true
      #     proxy_download: true
      #     bucket: gitlab-artifacts
      #     connection: {}
      #   uploads:
      #     enabled: true
      #     proxy_download: true
      #     bucket: gitlab-uploads
      #     connection: {}
      #   packages:
      #     enabled: true
      #     proxy_download: true
      #     bucket: gitlab-packages
      #     connection: {}
      #   externalDiffs:
      #     enabled: true
      #     when:
      #     proxy_download: true
      #     bucket: gitlab-mr-diffs
      #     connection: {}
      #   terraformState:
      #     enabled: true
      #     bucket: gitlab-terraform-state
      #     connection: {}
      #   ciSecureFiles:
      #     enabled: true
      #     bucket: gitlab-ci-secure-files
      #     connection:
      #       secret: gitlab-config
      #   dependencyProxy:
      #     enabled: true
      #     proxy_download: true
      #     bucket: gitlab-dependency-proxy
      #     connection: {}
      minio:
        enabled: true
        # ingress:
        # credentials:
        #   secret: gitlab-config
      praefect:
        enabled: false
        virtualStorages:
          - name: default
            gitalyReplicas: 3
            maxUnavailable: 1
      #     persistence:
      #       enabled: true
      #       size: 5Gi
      #       accessMode: ReadWriteOnce
      #       storageClass: ceph-block

      initialRootPassword:
        secret: gitlab-config
        key: initial_root_password

      kas:
        enabled: true
      pages:
        enabled: true
      email:
        display_name: GitLab
        from: gitlab@${SECRET_DOMAIN}
        reply_to: "gitlab@${SECRET_DOMAIN}"
      smtp:
        enabled: true
        address: "${SECRET_SMTP_HOST}"
        port: 587
        user_name: ${SECRET_TVO_EMAIL}
        domain: ${SECRET_DOMAIN}
        starttls_auto: true
        password:
          secret: gitlab-config
          key: smtp_password
      psql:
        host: postgres.database
        database: gitlab
        username: gitlab
        password:
          useSecret: true
          secret: gitlab-config
          key: postgres_password
      hosts:
        domain: ${SECRET_DOMAIN}
        https: true
        gitlab:
          name: gitlab-helm.${SECRET_DOMAIN}
        minio:
          https: true
          name: minio-gitlab.${SECRET_DOMAIN}
    postgresql:
      install: false
    minio:
      ingress:
        tls:
          enabled: true
          secretName: minio-tls
    gitlab:
      # gitaly:
      #   #   persistence:
      #   #     enabled: true
      #   #     volumeName: gitlab-gitaly
      #   resources:
      #     requests:
      #       cpu: 80m
      #       memory: 340M
      #     limits:
      #       cpu: 1800m
      webservice:
        ingress:
          tls:
            enabled: true
            secretName: gitlab-webservice-tls
        minReplicas: 1
        maxReplicas: 1
      sidekiq:
        minReplicas: 1
        maxReplicas: 1
        resources:
          requests:
            cpu: 100m
            memory: 600M
      gitlab-shell:
        minReplicas: 1
        maxReplicas: 1
    redis:
      install: true
      # existingsecret: gitlab-config
      # existingSecretKey: redis_password
    # registry:
    #   ingress:
    #     tls:
    #       enabled: true
    #       secretName: registry-tls
    certmanager:
      install: false
    nginx-ingress:
      enabled: false
    prometheus:
      install: false
    grafana:
      enabled: false
    gitlab-runner:
      runners:
        config: |
          concurrent = 20
          [[runners]]
            [runners.kubernetes]
              cpu_request = "500m"
              cpu_limit = "1"
              memory_request = "200Mi"
              memory_limit = "1Gi"
              service_cpu_request = "100m"
              service_cpu_limit = "1"
              service_memory_request = "50Mi"
              service_memory_limit = "1Gi"
              helper_cpu_request = "5m"
              helper_cpu_limit = "500m"
              helper_memory_request = "50Mi"
              helper_memory_limit = "200Mi"
