---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opnsense-exporter
  namespace: system-monitoring
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: opnsense-exporter
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      opnsense-exporter:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/athennamind/opnsense-exporter
              tag: 0.0.13@sha256:04b3bca486b299e2138e9df380c71e9499db6ce62c08ec62698239aacc9d85bf
            args:
              - --web.listen-address=:8080
            env:
              TZ: "${TIMEZONE}"
              OPNSENSE_EXPORTER_OPS_PROTOCOL: https
              OPNSENSE_EXPORTER_INSTANCE_LABEL: firewall
              OPNSENSE_EXPORTER_DISABLE_UNBOUND: "true"
              OPNSENSE_EXPORTER_DISABLE_OPENVPN: "true"

            envFrom:
              - secretRef:
                  name: opnsense-exporter-secret
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: opnsense-exporter
        ports:
          http:
            port: 8080
    serviceMonitor:
      app:
        serviceName: opnsense-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            metricRelabelings:
              - action: replace
                targetLabel: opnsense_instance
                replacement: opnsense
