---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: nextcloud-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Nextcloud
        ADMIN_USER: "{{ .ADMIN_USER }}"
        ADMIN_PASS: "{{ .ADMIN_PASS }}"
        POSTGRES_DB: &dbname nextcloud
        POSTGRES_HOST: &dbhost postgres6-rw.database.svc.cluster.local
        POSTGRES_USER: &dbuser "{{ .POSTGRES_USER }}"
        POSTGRES_PASSWORD: &dbpass "{{ .POSTGRES_PASSWORD }}"
        REDIS_PASSWORD: "{{ .REDIS_PASSWORD }}"
        SMTP_FROM: "{{ .SMTP_FROM }}"
        SMTP_HOST: "{{ .smtp_server }}"
        SMTP_USER: "{{ .smtp_user }}"
        SMTP_PORT: "{{ .smtp_port }}"
        SMTP_PASS: "{{ .SMTP_PASS }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

  dataFrom:
    - extract:
        key: nextcloud
    - extract:
        key: zalando-postgres
    - extract:
        key: smtp
