apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: obsidian-couchdb
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: public.ecr.aws/docker/library/couchdb
      tag: 3.3.3

    initContainers:
      init-config:
        image: public.ecr.aws/docker/library/busybox:latest@sha256:3d3698b745b0c67ddf2c515650b42955b0bcd123c92060008aae4f4aac1c77b3
        command:
        - "sh"
        - "-c"
        - "cp /tmp/config/*.ini /default.d/; ls -lrt /default.d;"
        volumeMounts:
        - name: config
          mountPath: /tmp/config
        - name: config-storage
          mountPath: /default.d

    env:
      COUCHDB_USER:
        valueFrom:
          secretKeyRef:
            name: obsidian-couchdb-secret
            key: couchdb-user
      COUCHDB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: obsidian-couchdb-secret
            key: couchdb-password

    service:
      main:
        ports:
          http:
            port: 5984

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-external"
        # annotations:
        #   nginx.ingress.kubernetes.io/configuration-snippet: |
        #     more_set_headers "Access-Control-Allow-Origin:  *";
        hosts:
        - host: &host "obsidian-db.${SECRET_DOMAIN}"
          paths:
          - path: /
        tls:
        - hosts:
          - *host

    persistence:
      config:
        enabled: true
        type: configMap
        name: obsidian-couchdb-configmap
        mountPath: "-"

      config-storage:
        enabled: true
        type: emptyDir
        mountPath: /opt/couchdb/etc/default.d

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"

    resources:
      requests:
        cpu: 48m
        memory: 146M
      limits:
        memory: 1Gi

    volumeClaimTemplates:
    - name: data
      mountPath: /opt/couchdb/data
      accessMode: ReadWriteOnce
      size: 1Gi
      storageClass: ceph-block
