---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex
  namespace: media
spec:
  releaseName: plex
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: plex
      version: 6.3.4
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/k8s-at-home/plex
      tag: v1.28.0.5999-97678ded3

    podSecurityContext:
      runAsUser: 568                                                                                                                                                                                                                                                                         
      runAsGroup: 568                                                                                                                                                                                                                                                                        
      fsGroup: 568
      supplementalGroups:
      - 44
      - 109
      - 100
      - 65539
      # - 109

    env:
      TZ: "${TIMEZONE}"
      ADVERTISE_IP: "https://plex.${SECRET_DOMAIN}:443/,http://${LB_PLEX}:32400/"

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${LB_PLEX}
        externalTrafficPolicy: Local

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-external"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        hosts:
        - host: &host "plex.${SECRET_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
        tls:
          - secretName: plex-cert
            hosts:
            - *host

    persistence:
      config:
        enabled: true
        existingClaim: plex-config

      transcode:
        enabled: true
        type: emptyDir
        medium: Memory

      media:
        enabled: true
        existingClaim: media-nfs-media

      backup:
        enabled: true
        existingClaim: plex-nfs-backup
        mountPath: /config/Backups

    resources:
      requests:
        cpu: 49m
        memory: 4282M
    #     gpu.intel.com/i915: 1
      limits:
    #     gpu.intel.com/i915: 1
        memory: 7982M

    # affinity:
    #   nodeAffinity:
    #     requiredDuringSchedulingIgnoredDuringExecution:
    #       nodeSelectorTerms:
    #         - matchExpressions:
    #             - key: feature.node.kubernetes.io/custom-intel-gpu
    #               operator: In
    #               values:
    #                 - "true"
