---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lubelog
  namespace: selfhosted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: lubelog
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      lubelog:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.3
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: lubelog-secret
        containers:
          app:
            image:
              repository: ghcr.io/hargata/lubelogger
              tag: v1.6.1
            env:
              TZ: "${TIMEZONE}"
              LC_ALL: en_US.UTF-8
            envFrom:
              - secretRef:
                  name: lubelog-secret
            resources:
              requests:
                cpu: 15m
                memory: 80M
              limits:
                memory: 512M
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: "nginx-internal"
        hosts:
          - host: &host "lubelog.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.lubelog
            hosts:
              - *host
    persistence:
      app:
        existingClaim: lubelog-data
        globalMounts:
          - path: /App/config
            subPath: config
          - path: /App/data
            subPath: data
          - path: /App/wwwroot/translations
            subPath: translations
          - path: /App/wwwroot/documents
            subPath: documents
          - path: /App/wwwroot/images
            subPath: images
          - path: /App/log
            subPath: log
          - path: /root/.aspnet/DataProtection-Keys
            subPath: keys
      tmp:
        type: emptyDir
        globalMounts:
          - path: /App/wwwroot/temp
