---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: obico
  namespace: selfhosted
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://bjw-s.github.io/helm-charts
      chart: obico
      version: 0.4.0
      sourceRef:
        kind: HelmRepository
        name: gabe565-charts
        namespace: flux-system
  values:
    server:
      image:
        repository: ghcr.io/gabe565/obico/web
        tag: sha-50b9a9cf770c3dd444bf7488cb9b1ba5c96dc8fd

      persistence:
        data:
          enabled: true
          existingClaim: obico-data
        media:
          enabled: true
          existingClaim: obico-media

      ingress:
        main:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-production
          hosts:
            - host: &host "obico.${SECRET_DOMAIN}"
              paths:
                - path: /
          tls:
            - hosts:
                - *host
              secretName: tls.obico

    ml-api:
      image:
        repository: ghcr.io/gabe565/obico/ml-api
        tag: sha-50b9a9cf770c3dd444bf7488cb9b1ba5c96dc8fd
      env:
        DEBUG: "False"

    resources:
      requests:
        memory: 4096M
