---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-gpt
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      paperless-gpt:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: icereed/paperless-gpt
              tag: v0.24.0@sha256:15bad5d455b98f21bb7b5d6615f56871ff67a8bb379dc0dd7ba411f4633071a6
            env:
              PAPERLESS_BASE_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_PUBLIC_URL: https://paperless.${SECRET_DOMAIN}
              LLM_PROVIDER: ollama
              LLM_MODEL: llama3.2:3b # could use many different options https://github.com/icereed/paperless-gpt?tab=readme-ov-file#environment-variables
              OLLAMA_HOST: http://192.168.1.50:11434
              OLLAMA_CONTEXT_LENGTH: "8192" # From techno tim
              VISION_LLM_PROVIDER: ollama
              VISION_LLM_MODEL: deepseek-ocr:3b
              TOKEN_LIMIT: 1000 # Recommended for smaller models
              # AUTO_GENERATE_TAGS: "false"
              AUTO_GENERATE_CORRESPONDENTS: "false"
              AUTO_OCR_TAG: paperless-gpt-ocr-auto
              AUTO_TAG: paperless-gpt-auto
              MANUAL_TAG: paperless-gpt-manual
              PDF_OCR_TAGGING: "true"
              PAPERLESS_API_PAGE_SIZE: "9999"

              LOG_LEVEL: "debug"
            envFrom:
              - secretRef:
                  name: paperless-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: paperless-gpt
        ports:
          http:
            port: 8080

    ingress:
      app:
        className: "nginx-internal"
        hosts:
          - host: &host "paperless-gpt.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.paperless-gpt
            hosts:
              - *host
    persistence:
      paperless-gpt-app:
        enabled: true
        existingClaim: paperless-gpt-app
        globalMounts:
          - path: /app/prompt
