---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-gpt
  namespace: selfhosted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: paperless-gpt
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      paperless-gpt:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: icereed/paperless-gpt
              tag: v0.25.0@sha256:9f4071a0ec63cfeffcfaf8a9cbf6dab4e128d6940df3c6f1ed855048a3a021df
            env:
              PAPERLESS_BASE_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_PUBLIC_URL: https://paperless.${SECRET_DOMAIN}
              LLM_PROVIDER: anthropic
              LLM_MODEL: claude-haiku-4-5
              VISION_LLM_PROVIDER: anthropic
              VISION_LLM_MODEL: claude-haiku-4-5
              # AUTO_GENERATE_TAGS: "false"
              OCR_PROVIDER: llm
              AUTO_GENERATE_CORRESPONDENTS: "false"
              AUTO_OCR_TAG: paperless-gpt-ocr-auto
              AUTO_TAG: paperless-gpt-auto
              MANUAL_TAG: paperless-gpt-manual
              PDF_OCR_TAGGING: "true"
              PDF_OCR_COMPLETE_TAG: paperless-gpt-ocr-complete

              LOG_LEVEL: "debug"
            envFrom:
              - secretRef:
                  name: paperless-secret
              - secretRef:
                  name: paperless-gpt-secret
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: paperless-gpt
        ports:
          http:
            port: 8080

    ingress:
      app:
        className: "nginx-internal"
        hosts:
          - host: &host "paperless-gpt.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.paperless-gpt
            hosts:
              - *host
    persistence:
      paperless-gpt-app:
        enabled: true
        existingClaim: paperless-gpt-app
        globalMounts:
          - path: /app/prompt
