---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted
resources:
  - ocirepository.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml
  - ./externalsecret.yaml
# patchesStrategicMerge:
#   - patches/postgres.yaml
