---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: speakarr
  namespace: downloads
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: speakarr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        READARR__API_KEY: "{{ .READARR__API_KEY }}"
        READARR__POSTGRES__HOST: &dbHost postgres.database.svc.cluster.local
        READARR__POSTGRES__PORT: "5432"
        READARR__POSTGRES__USER: &dbUser "{{ .READARR__POSTGRES_USER }}"
        READARR__POSTGRES__PASSWORD: &dbPass "{{ .READARR__POSTGRES_PASSWORD }}"
        READARR__POSTGRES__MAIN_DB: speakarr_main
        READARR__POSTGRES__LOG_DB: speakarr_log
        READARR__POSTGRES__CACHE_DB: speakarr_cache
        # Postgres Init
        INIT_POSTGRES_DBNAME: speakarr_main speakarr_log speakarr_cache
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: readarr
    - extract:
        key: zalando-postgres
