---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tandoor
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: tandoor-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        SECRET_KEY: "{{ .SECRET_KEY }}"
        DB_ENGINE: django.db.backends.postgresql
        POSTGRES_HOST: &dbHost postgres6-rw.database.svc.cluster.local
        POSTGRES_PORT: "5432"
        POSTGRES_DB: &dbName tandoor
        POSTGRES_USER: &dbUser "{{ .POSTGRES_USER }}"
        POSTGRES_PASSWORD: &dbPass "{{ .POSTGRES_PASSWORD }}"
        EMAIL_HOST: "{{ .smtp_server }}"
        EMAIL_PORT: "587"
        EMAIL_USE_TLS: "1"
        EMAIL_HOST_USER: "{{ .smtp_user }}"
        EMAIL_HOST_PASSWORD: "{{ .EMAIL_HOST_PASSWORD }}"
        DEFAULT_FROM_EMAIL: "{{ .DEFAULT_FROM_EMAIL }}"
        # OAuth
        SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"APPS":[{"provider_id":"authentik","name":"authentik","client_id":"{{ .oauth_client_id }}","secret":"{{ .oauth_client_secret }}","settings":{"server_url":"https://authentik.t-vo.us/application/o/tandoor/.well-known/openid-configuration"}}]}}'
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: tandoor
    - extract:
        key: zalando-postgres
    - extract:
        key: smtp
