---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tandoor
  namespace: selfhosted
spec:
  releaseName: tandoor
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 1
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 568
        runAsGroup: 568
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.3
            envFrom: &envFrom
              - secretRef:
                  name: tandoor-secret
          migrations:
            image:
              repository: vabene1111/recipes
              tag: 1.5.19@sha256:77a556a15efdfde1657b64ab84d85870db480ab50b55f3b9aac3f9f3707fd1b9
            envFrom: *envFrom
            command:
              - sh
              - -c
              - |
                set -e
                source /opt/recipes/venv/bin/activate
                echo "Updating database"
                python3 /opt/recipes/manage.py migrate
                python3 /opt/recipes/manage.py collectstatic_js_reverse
                python3 /opt/recipes/manage.py collectstatic --noinput
        containers:
          app:
            image:
              repository: vabene1111/recipes
              tag: 1.5.19
            env:
              TIMEZONE: "${TIMEZONE}"
              DEBUG: "0"
              ALLOWED_HOSTS: "*"
              ENABLE_SIGNUP: 0
              TANDOOR_PORT: &port 8888
              FRACTION_PREF_DEFAULT: "0"
              COMMENT_PREF_DEFAULT: "1"
              SHOPPING_MIN_AUTOSYNC_INTERVAL: "5"
              GUNICORN_MEDIA: "0"
            envFrom: *envFrom

            command:
              - /opt/recipes/venv/bin/gunicorn
              - -b
              - :8888
              - --access-logfile
              - "-"
              - --error-logfile
              - "-"
              - --log-level
              - INFO
              - recipes.wsgi:application
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi
          nginx:
            image:
              repository: ghcr.io/nginxinc/nginx-unprivileged
              tag: 1.27-alpine-perl@sha256:d0128b4de9ec5a656fa49c5d4f9e6e6dc86d6437a9bfe4ed59fb7f19c42da79b

    service:
      app:
        controller: tandoor
        ports:
          http:
            port: *port
          nginx:
            port: &port2 8080

    ingress:
      app:
        className: "nginx-external"
        hosts:
          - host: &host "tandoor.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
              - path: /media
                service:
                  identifier: app
                  port: *port2
              - path: /static
                service:
                  identifier: app
                  port: *port2
        tls:
          - hosts:
              - *host
            secretName: tls.tandoor

    persistence:
      files:
        existingClaim: tandoor-files
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/mediafiles
            nginx:
              - path: /media
      nginx-config:
        type: configMap
        name: tandoor-configmap
        advancedMounts:
          tandoor:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx-config
      django-js-reverse:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/cookbook/static/django_js_reverse
            migrations:
              - path: /opt/recipes/cookbook/static/django_js_reverse
      static:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/staticfiles
            nginx:
              - path: /static
            migrations:
              - path: /opt/recipes/staticfiles
      cache:
        type: emptyDir
        advancedMounts:
          tandoor:
            nginx:
              - path: /var/cache/nginx
