---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tandoor
  namespace: selfhosted
spec:
  releaseName: tandoor
  interval: 5m
  chart:
    spec:
      chart: recipes
      version: 6.6.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: vabene1111/recipes
      tag: 1.4.2
    env:
      TIMEZONE: "${TIMEZONE}"
      DEBUG: "0"
      ALLOWED_HOSTS: "*"
      SECRET_KEY: ${SECRET_RECIPES_SECRET_KEY}
      EMAIL_HOST: ${SECRET_SMTP_HOST}
      EMAIL_PORT: 587
      EMAIL_HOST_USER: ${SECRET_TVO_EMAIL}
      EMAIL_HOST_PASSWORD: ${SECRET_RECIPE_EMAIL_PASSWORD}
      EMAIL_USE_TLS: 1
      # EMAIL_USE_SSL: 1
      DEFAULT_FROM_EMAIL: ${SECRET_RECIPE_EMAIL}
      DB_ENGINE: django.db.backends.postgresql
      ENABLE_SIGNUP: 0
      POSTGRES_HOST: cnpg-tandoor-rw
      POSTGRES_PORT: "5432"
      POSTGRES_DB: tandoor
      POSTGRES_USER: tandoor
      POSTGRES_PASSWORD: ${TANDOOR_PG_PASSWORD}
      REVERSE_PROXY_AUTH: 1
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-external"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
        - host: &host "tandoor.${SECRET_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
        tls:
        - hosts:
          - *host
          secretName: tls.tandoor
    persistence:
      config:
        enabled: true
        existingClaim: tandoor-config
      static:
        enabled: true
        existingClaim: tandoor-static
      media:
        enabled: true
        existingClaim: tandoor-media
