---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted
resources:
  - ocirepository.yaml
  - ./pvc.yaml
  - ./externalsecret.yaml
  # - ./cnpg.yaml
  # - ./pg-secret.sops.yaml
  - ./helmrelease.yaml
  - ./volsync.yaml
# configMapGenerator:
#   - name: tandoor-configmap
#     files:
#       - ./config/nginx-config
# generatorOptions:
#   disableNameSuffixHash: true
