---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-ai
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      paperless-ai:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: clusterzx/paperless-ai
              tag: 2.2.1@sha256:c452c82cb4fb9acb6da5da5b63477592ee11a2662e47c59d02f7f34141aab1b9
            # env:
            #   PAPERLESS_API_URL: https://paperless.${SECRET_DOMAIN}/api
            #   AI_PROVIDER: ollama
            #   SCAN_INTERVAL: "*/30 * * * *"
            #   SYSTEM_PROMPT: |
            #     You are a personalized document analyzer. Your task is to analyze documents and extract relevant information.\n\nAnalyze the document content and extract the following information into a structured JSON object:\n\n1. title: Create a concise, meaningful title for the document\n2. correspondent: Identify the sender/institution but do not include addresses\n3. tags: Select up to 4 relevant thematic tags\n4. document_date: Extract the document date (format: YYYY-MM-DD)\n5. language: Determine the document language (e.g. "de" or "en")\n      \nImportant rules for the analysis:\n\nFor tags:\n- FIRST check the existing tags before suggesting new ones\n- Use only relevant categories\n- Maximum 4 tags per document, less if sufficient (at least 1)\n- Avoid generic or too specific tags\n- Use only the most important information for tag creation\n- The output language is the one used in the document! IMPORTANT!\n\nFor the title:\n- Short and concise, NO ADDRESSES\n- Contains the most important identification features\n- For invoices/orders, mention invoice/order number if available\n- The output language is the one used in the document! IMPORTANT!\n\nFor the correspondent:\n- Identify the sender or institution\n\nFor the document date:\n- Extract the date of the document\n- Use the format YYYY-MM-DD\n- If multiple dates are present, use the most relevant one\n\nFor the language:\n- Determine the document language\n- Use language codes like "de" for German or "en" for English\n- If the language is not clear, use "und" as a placeholder

            #     Return the result EXCLUSIVELY as a JSON object. The Tags and Title MUST be in the language that is used in the document.:

            #     {
            #       "title": "xxxxx",
            #       "correspondent": "xxxxxxxx",
            #       "tags": ["Tag1", "Tag2", "Tag3", "Tag4"],
            #       "document_date": "YYYY-MM-DD",
            #       "language": "en/de/es/..."
            #     }
            #   PROCESS_PREDEFINED_DOCUMENTS: yes
            #   TAGS: ai-assisted
            #   ADD_AI_PROCESSED_TAG: yes
            #   AI_PROCESSED_TAG_NAME: ai-processed
            #   USE_PROMPT_TAGS: no
            # envFrom:
            #   - secretRef:
            #       name: paperless-secret
    service:
      app:
        controller: paperless-ai
        ports:
          http:
            port: 3000

    ingress:
      app:
        className: "nginx-internal"
        hosts:
          - host: &host "paperless-ai.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.paperless-ai
            hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: paperless-ai-config
        globalMounts:
          - path: /app/data
