---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: system
spec:
  interval: 5m
  chart:
    spec:
      chart: reloader
      version: 1.0.74
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system
      interval: 5m
  values:
    resources:
    requests:
      cpu: 15m
      memory: 184M
    limits:
      memory: 184M
