---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: enshrouded
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: enshrouded-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        SERVER_PASSWORD: "{{ .SERVER_PASSWORD }}"
        enshrouded_server.json: |-
          {
            "name": "Peenshrouded",
            "saveDirectory": "./savegame",
            "logDirectory": "./logs",
            "ip": "0.0.0.0",
            "gamePort": 15636,
            "queryPort": 15637,
            "slotCount": 16,
            "gameSettingsPreset": "Default",
            "gameSettings": {
              "playerHealthFactor": 1,
              "playerManaFactor": 1,
              "playerStaminaFactor": 1,
              "enableDurability": true,
              "enableStarvingDebuff": false,
              "foodBuffDurationFactor": 1,
              "fromHungerToStarving": 600000000000,
              "shroudTimeFactor": 1,
              "tombstoneMode": "AddBackpackMaterials",
              "miningDamageFactor": 1,
              "plantGrowthSpeedFactor": 1,
              "resourceDropStackAmountFactor": 1,
              "factoryProductionSpeedFactor": 1,
              "perkUpgradeRecyclingFactor": 0.5,
              "perkCostFactor": 1,
              "experienceCombatFactor": 1,
              "experienceMiningFactor": 1,
              "experienceExplorationQuestsFactor": 1,
              "randomSpawnerAmount": "Normal",
              "aggroPoolAmount": "Normal",
              "enemyDamageFactor": 1,
              "enemyHealthFactor": 1,
              "enemyStaminaFactor": 1,
              "enemyPerceptionRangeFactor": 1,
              "bossDamageFactor": 1,
              "bossHealthFactor": 1,
              "threatBonus": 1,
              "pacifyAllEnemies": false,
              "dayTimeDuration": 1800000000000,
              "nightTimeDuration": 720000000000
            },
            "userGroups": [
              {
                "name": "Admin",
                "password": "{{ .admin_group_password }}",
                "canKickBan": true,
                "canAccessInventories": true,
                "canEditBase": true,
                "canExtendBase": true,
                "reservedSlots": 0
              },
              {
                "name": "Peens",
                "password": "{{ .user_group_password }}",
                "canKickBan": false,
                "canAccessInventories": true,
                "canEditBase": true,
                "canExtendBase": false,
                "reservedSlots": 0
              }
            ]
          }

  dataFrom:
    - extract:
        key: enshrouded
