---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: enshrouded
  namespace: selfhosted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: enshrouded
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 10000
        runAsGroup: 10000
        fsGroup: 10000
    controllers:
      enshrouded:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          nodeSelector:
            feature.node.kubernetes.io/cpu-model.id: "158"

        containers:
          app:
            image:
              repository: sknnr/enshrouded-dedicated-server
              tag: proton-latest@sha256:c410b742812cc55723cdaa97950f94cdef1b1f8a332bceedce13da9b681c98ee
            env:
              SERVER_NAME: "Peenshrouded"
              GAME_PORT: &game_port 15636
              QUERY_PORT: &query_port 15637
              SERVER_SLOTS: 16
            envFrom:
              - secretRef:
                  name: enshrouded-secret

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

    service:
      app:
        controller: enshrouded
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: 192.168.83.53
        ports:
          gameport:
            enabled: true
            port: *game_port
            protocol: UDP
          queryport:
            enabled: true
            port: *query_port
            protocol: UDP

    persistence:
      data:
        enabled: true
        existingClaim: enshrouded-data
        globalMounts:
          - path: /home/steam/enshrouded/savegame
            readOnly: false
      config:
        type: secret
        name: enshrouded-secret
        globalMounts:
          - path: /home/steam/enshrouded/enshrouded_server.json
            subPath: enshrouded_server.json
