---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: enshrouded-restic
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: enshrouded-restic-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/enshrouded"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: volsync-restic-template
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: enshrouded
  namespace: selfhosted
spec:
  sourcePVC: enshrouded-data
  trigger:
    schedule: "0 7 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 14
    repository: enshrouded-restic-secret
    cacheCapacity: 8Gi
    volumeSnapshotClassName: csi-rbdplugin-snapclass
    storageClassName: ceph-block
    moverSecurityContext:
      runAsUser: 10000
      runAsGroup: 10000
      fsGroup: 10000
    retain:
      daily: 14
