---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx-internal
  namespace: network
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      version: 4.2.1
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx-charts
        namespace: flux-system
  values:
    controller:
      ingressClassResource:
        name: nginx-internal
        default: true
      replicaCount: 3
      service:
        # type: LoadBalancer
        # externalIPs: 
        # - "${INTERNAL_NGINX_LB}"
        loadBalancerIP: "${INTERNAL_NGINX_LB}"
        externalTrafficPolicy: Local

      config:
        ssl-protocols: "TLSv1.3 TLSv1.2"
        proxy-body-size: "100m"
        use-forwarded-headers: "true"
        client-header-timeout: 120
        client-body-buffer-size: "100M"
        client-body-timeout: 120
        custom-http-errors: >-
          403,404,500,501,502,503
        forwarded-for-header: "CF-Connecting-IP"
        hsts-max-age: "31449600"
        keep-alive: 120
        keep-alive-requests: 10000

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespace: network
          namespaceSelector:
            any: true
        prometheusRule:
          enabled: false

      extraArgs:
        default-ssl-certificate: "network/${SECRET_DOMAIN/./-}-tls"
      resources:
        requests:
          memory: 250Mi
          cpu: 100m
        limits:
          memory: 350Mi

    defaultBackend:
      enabled: true
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 2.18.0
      extraEnvs:
        - name: TEMPLATE_NAME
          value: ghost
        - name: SHOW_DETAILS
          value: "false"
      resources:
        requests:
          cpu: 15m
          memory: 64M
        limits:
          memory: 64M
