apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: selfhosted
spec:
  interval: 15m
  chart:
    spec:
      chart: immich
      version: 0.10.3
      sourceRef:
        kind: HelmRepository
        name: immich-charts
        namespace: flux-system
      interval: 15m
  valuesFrom:
    - kind: Secret
      name: immich-secret
      valuesKey: immich-oauth-values
      optional: false
  values:
    # Valkey (Redis replacement)
    valkey:
      enabled: true
    metrics:
      enabled: true

    # Persistence for photo library
    immich:
      persistence:
        library:
          existingClaim: immich-nfs
      configuration:
        oauth:
          enabled: true
          autoLaunch: true
          autoRegister: true
          buttonText: Login with Authentik
          issuerUrl: https://authentik.t-vo.us/application/o/immich/.well-known/openid-configuration
          scope: openid email profile
        notifications:
          smtp:
            enabled: true
            from: immich@${SECRET_DOMAIN}
            replyTo: immich@${SECRET_DOMAIN}
            transport:
              host: ${GATEWAY_IP}
              ignoreCert: true
              port: 25

    # Server configuration
    server:
      enabled: true
      controllers:
        main:
          containers:
            main:
              image:
                # renovate: datasource=github-releases depName=immich-app/immich
                tag: "v2.5.6"
              resources:
                requests:
                  cpu: 100m
                  memory: 2048M
              env:
                # Database connection
                DB_DATABASE_NAME: immich
                DB_HOSTNAME: postgres6-rw.database.svc.cluster.local
                DB_PORT: "5432"
                DB_USERNAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-secret
                      key: DB_USERNAME
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      name: immich-secret
                      key: DB_PASSWORD
      ingress:
        main:
          enabled: true
          className: nginx-external
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-production
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
          hosts:
            - host: &host "photos.${SECRET_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
                  service:
                    identifier: main
                    port: http
          tls:
            - hosts:
                - *host
              secretName: *host

    # Machine Learning configuration
    machine-learning:
      enabled: true
      controllers:
        main:
          containers:
            main:
              resources:
                requests:
                  cpu: 20m
                  memory: 2048M
