apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: immich
  namespace: selfhosted
spec:
  interval: 15m
  chart:
    spec:
      chart: immich
      version: 0.5.0
      sourceRef:
        kind: HelmRepository
        name: immich-charts
        namespace: flux-system
      interval: 15m
  values:
    env:
      DB_DATABASE_NAME: immich
      DB_HOSTNAME: postgres.database.svc.cluster.local
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: immich-secret
            key: DB_USERNAME
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-secret
            key: DB_PASSWORD
      DB_PORT: "5432"
      DISABLE_REVERSE_GEOCODING: "false"
      REVERSE_GEOCODING_PRECISION: "2"
      # ENABLE_MAPBOX: "false"
      LOG_LEVEL: verbose
      # NODE_ENV: "production"
      # REDIS_HOSTNAME: immich-redis.selfhosted.svc.cluster.local
      # REDIS_PORT: "6379"
      # REDIS_DBINDEX: "0"
      # TYPESENSE_HOST: immich-typesense.selfhosted.svc.cluster.local
      # TYPESENSE_DATA_DIR: /config
      # IMMICH_WEB_URL: http://immich-web.selfhosted.svc.cluster.local:3000
      # IMMICH_SERVER_URL: http://immich-server.selfhosted.svc.cluster.local:3001
      # IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.selfhosted.svc.cluster.local:3003
      OAUTH_ENABLED: "false"
      # OAUTH_ISSUER_URL: "https://auth.${SECRET_DOMAIN}/.well-known/openid-configuration"
      # OAUTH_CLIENT_ID: immich
      # OAUTH_CLIENT_SECRET: "${SECRET_IMMICH_OAUTH_CLIENT_SECRET}"
      # OAUTH_AUTO_REGISTER: "true"
      # OAUTH_BUTTON_TEXT: "Login with Authelia"
    envFrom:
      - secretRef:
          name: immich-secret

    postgres:
      enabled: false
      global:
        postgresql:
          auth:
            username: immich
            database: immich
            existingSecret: immich-secret
            secretKeys:
              userPasswordKey: DB_PASSWORD

    redis:
      enabled: true
      auth:
        enabled: true
        existingSecret: immich-secret
        existingSecretPasswordKey: REDIS_PASSWORD

    # typesense:
    #   enabled: true
    #   persistence:
    #     tsdata:
    #       enabled: true
    #       storageClass: ceph-block
    #   resources:
    #     requests:
    #       cpu: 15m
    #       memory: 145M

    immich:
      persistence:
        library:
          existingClaim: immich-nfs

    image:
      # renovate: datasource=github-releases depName=immich-app/immich
      tag: "v1.101.0"

    server:
      resources:
        requests:
          cpu: 15m
          memory: 512M
      envFrom:
        - secretRef:
            name: immich-secret
        - configMapRef:
            name: immich
      ingress:
        main:
          enabled: true
          ingressClassName: nginx-internal
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-production
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
          hosts:
            - host: &host "photos.${SECRET_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - *host
              secretName: *host

    microservices:
      controller:
        replicas: 2
      resources:
        requests:
          cpu: 100m
          memory: 250M

    machine-learning:
      resources:
        requests:
          cpu: 100m
          memory: 2048M
      probes:
        liveness:
          enabled: false
          spec:
            initialDelaySeconds: 90
        readiness:
          enabled: false
          spec:
            initialDelaySeconds: 90
        startup:
          enabled: false
          spec:
            initialDelaySeconds: 90
            # persistence:
            #   cache:
            #     size: 10Gi
            #     type: pvc
            #     accessMode: ReadWriteOnce
            #     storageClass: ceph-block
