---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: valheim
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: valheim-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        WORLD_NAME: "{{ .WORLD_NAME }}"
        SERVER_NAME: "{{ .SERVER_NAME }}"
        SERVER_PASS: "{{ .SERVER_PASS }}"
        ADMINLIST_IDS: "{{ .ADMINLIST_IDS }}"
        SUPERVISOR_HTTP_PASS: "{{ .SUPERVISOR_HTTP_PASS }}"
        SUPERVISOR_HTTP_USER: "{{ .SUPERVISOR_HTTP_USER }}"

  dataFrom:
    - extract:
        key: valheim
