---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
  namespace: downloads
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    controllers:
      qbittorrent:
        pod:
          securityContext:
            # runAsUser: 568
            # runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65539 # media-rw
              - 10000
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/qbittorrent
              tag: 4.6.6@sha256:2fd0eba46205055c3f758411a79d5fa175df324f707dab9ad9a3a5be2ab92071
            env:
              UMASK: "022"
              TZ: "${TIMEZONE}"
              QBITTORRENT__PORT: &port 8080
              QBITTORRENT__BT_PORT: &port-bt 54802
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 49m
                memory: 1024Mi
              limits:
                memory: 8192Mi
            securityContext:
              runAsUser: 568
              runAsGroup: 568
              # runAsNonRoot: true

          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.39.0
            env:
              VPN_SERVICE_PROVIDER: custom
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              VPN_ENDPOINT_PORT: 51820
              VPN_PORT_FORWARDING: on
              VPN_PORT_FORWARDING_PROVIDER: protonvpn
              FIREWALL_INPUT_PORTS: *port
              FIREWALL_VPN_INPUT_PORTS: *port-bt
              FIREWALL_OUTBOUND_SUBNETS: 10.96.0.0/12,10.244.0.0/16 # Allow access to k8s subnets
              TZ: "${TIMEZONE}"
              WIREGUARD_PRESHARED_KEY: ""
            envFrom:
              - secretRef:
                  name: qbittorrent-config
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
              # allowPrivilegeEscalation: false

          # port-forward:
          #   image:
          #     repository: ghcr.io/bjw-s/gluetun-qb-port-sync
          #     tag: v0.0.1
          #   env:
          #     GLUETUN_CONTROL_SERVER_HOST: localhost
          #     GLUETUN_CONTROL_SERVER_PORT: 8000
          #     QBITTORRENT_HOST: localhost
          #     QBITTORRENT_WEBUI_PORT: *port
          #     CRON_ENABLED: true
          #     CRON_SCHEDULE: "*/5 * * * *"
          #     LOG_TIMESTAMP: false
          #   securityContext:
          #     runAsUser: *gid
          #     runAsGroup: *gid

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
      bittorrent:
        enabled: true
        controller: *app
        type: LoadBalancer
        loadBalancerIP: ${LB_QBITTORRENT}
        externalTrafficPolicy: Local
        ports:
          bittorrent:
            enabled: true
            port: *port-bt
            protocol: TCP
            targetPort: *port-bt

    ingress:
      app:
        className: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_hide_header "x-webkit-csp";
            proxy_hide_header "content-security-policy";
            proxy_hide_header "X-Frame-Options";
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.${SECRET_DOMAIN}/css/base/qbittorrent/plex.css"></head>';
            sub_filter_once on;
        hosts:
          - host: &host qb.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.qbittorrent
            hosts:
              - *host
    persistence:
      # cache:
      #   enabled: true
      #   type: emptyDir
      #   mountPath: /config/qBittorrent/cache

      config:
        enabled: true
        existingClaim: qbittorrent-config
        globalMounts:
          - path: /config
      media:
        enabled: true
        existingClaim: downloads-nfs-media
        globalMounts:
          - path: /media

    # lifecyle:
    #   postStart:
    #     exec:
    #       command:
    #         [
    #           "curl",
    #           "-c /config/qBittorrent/mam.cookie",
    #           "-b 'mam_id=${MAM_ID}'",
    #           "{$MAM_URL}",
    #         ]
