---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: downloads
resources:
  - ocirepository.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml
  - ./externalsecret.yaml
  - ./volsync.yaml
configMapGenerator:
  - name: qbittorrent-coredns
    files:
      - ./config/Corefile
generatorOptions:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
configurations:
  - kustomizeconfig.yaml
