---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
  namespace: system-controllers
spec:
  interval: 30m
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 1.2.4
      sourceRef:
        kind: HelmRepository
        name: postfinance
        namespace: flux-system
      interval: 30m
  valuesFrom:
    - kind: ConfigMap
      name: kubelet-csr-approver-values
