---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: database-namespace
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/database"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: database-kubegres
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: database-namespace
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/database/kubegres"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: database-cnpg
  namespace: flux-system
spec:
  # dependsOn:
  #   - name: database-namespace
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/database/cnpg"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: database-influxdb
  namespace: flux-system
spec:
  # dependsOn:
  #   - name: database-namespace
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/database/influxdb"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
