---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-namespace
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/downloads"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: downloads-lidarr
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: downloads-namespace
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/downloads/lidarr"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: downloads-nzbget
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: downloads-namespace
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/downloads/nzbget"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-pvc
  namespace: flux-system
spec:
  dependsOn:
    - name: downloads-namespace
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/downloads/_pvc"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-prowlarr
  namespace: flux-system
spec:
  dependsOn:
    - name: downloads-namespace
    # - name: vpn-downloads-gateway
    - name: downloads-pvc
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/downloads/prowlarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-qbittorrent
  namespace: flux-system
spec:
  dependsOn:
    - name: downloads-namespace
    # - name: vpn-downloads-gateway
    - name: downloads-pvc
    - name: network-ingress-nginx
    # - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/downloads/qbittorrent"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-radarr
  namespace: flux-system
spec:
  dependsOn:
    - name: downloads-namespace
    - name: downloads-pvc
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/downloads/radarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: downloads-readarr
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: downloads-namespace
#     - name: downloads-pvc
#     - name: rook-ceph-cluster
#     - name: network-ingress-nginx
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/downloads/readarr"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: downloads-speakarr
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: downloads-namespace
#     - name: downloads-pvc
#     - name: rook-ceph-cluster
#     - name: network-ingress-nginx
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/downloads/speakarr"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-sonarr
  namespace: flux-system
spec:
  dependsOn:
    - name: downloads-namespace
    - name: downloads-pvc
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/downloads/sonarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: downloads-recyclarr
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: downloads-namespace
#     - name: downloads-sonarr
#     - name: downloads-radarr
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/downloads/recyclarr"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-unpackerr
  namespace: flux-system
spec:
  dependsOn:
    - name: downloads-namespace
    - name: downloads-pvc
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/downloads/unpackerr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
