---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-namespace
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-emqx
  namespace: flux-system
spec:
  dependsOn:
    - name: home-namespace
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/emqx"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-node-red
  namespace: flux-system
spec:
  dependsOn:
    - name: home-namespace
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/node-red"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-frigate
  namespace: flux-system
spec:
  dependsOn:
    - name: home-emqx
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/frigate"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-esphome
  namespace: flux-system
spec:
  dependsOn:
    - name: home-namespace
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/esphome"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-home-assistant
  namespace: flux-system
spec:
  dependsOn:
    - name: home-namespace
    - name: home-emqx
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/home-assistant"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-zwavejs2mqtt
  namespace: flux-system
spec:
  dependsOn:
    - name: home-namespace
    - name: home-emqx
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/zwavejs2mqtt"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-zigbee2mqtt
  namespace: flux-system
spec:
  dependsOn:
    - name: home-namespace
    - name: home-emqx
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/zigbee2mqtt"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
