---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-metrics-server
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/kube-system/metrics-server"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-cilium
  namespace: flux-system
spec:
  # dependsOn:
  #   - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/kube-system/cilium"
  prune: false
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: kube-system-metallb
#   namespace: flux-system
# spec:
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/kube-system/metallb"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: kube-system-home-dns
#   namespace: flux-system
# spec:
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/kube-system/home-dns"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-external-secrets-app
  namespace: flux-system
spec:
  dependsOn:
    - name: cert-manager-certmanager
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/kube-system/external-secrets/app"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-external-secrets-stores
  namespace: flux-system
spec:
  dependsOn:
    - name: kube-system-external-secrets-app
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/kube-system/external-secrets/stores"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
