---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-namespace
  namespace: flux-system
spec:
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-pvc
  namespace: flux-system
spec:
  dependsOn:
    - name: media-namespace
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/_pvc"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: media-series-cleanup
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: media-namespace
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/media/series-cleanup"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-plex
  namespace: flux-system
spec:
  dependsOn:
    - name: media-namespace
    - name: media-pvc
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/plex"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-tautulli
  namespace: flux-system
spec:
  dependsOn:
    - name: media-namespace
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
    - name: media-plex
  interval: 15m
  path: "./k8s/clusters/cluster-0/manifests/media/tautulli"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-audiobookshelf
  namespace: flux-system
spec:
  dependsOn:
    - name: media-namespace
    - name: media-pvc
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/audiobookshelf"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: media-airsonic
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: media-namespace
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/media/airsonic"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-calibre
  namespace: flux-system
spec:
  dependsOn:
    - name: media-namespace
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/calibre"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-calibre-web
  namespace: flux-system
spec:
  dependsOn:
    - name: media-namespace
    - name: rook-ceph-cluster
    - name: network-ingress-nginx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/calibre-web"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
