---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ./helmrelease.yaml
configMapGenerator:
  - name: generic-device-plugin-configmap
    files:
      - ./configs/config.yaml
generatorOptions:
  disableNameSuffixHash: true
