---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: "${SECRET_CLOUDFLARE_EMAIL}"
    preferredChain: ""
    privateKeySecretRef:
      name: letsencrypt-staging
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    solvers:
      - dns01:
          cloudflare:
            apiKeySecretRef:
              key: api_key
              name: cloudflare-api-key-secret
            email: "${SECRET_CLOUDFLARE_EMAIL}"
        selector:
          dnsZones:
            - ${PERSONAL_DOMAIN}
            - ${FAMILY_DOMAIN}
            - ${INGRESS_DOMAIN}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    email: "${SECRET_CLOUDFLARE_EMAIL}"
    preferredChain: ""
    privateKeySecretRef:
      name: letsencrypt-production
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
      - dns01:
          cloudflare:
            apiKeySecretRef:
              key: api_key
              name: cloudflare-api-key-secret
            email: "${SECRET_CLOUDFLARE_EMAIL}"

