---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            supplementalGroups:
              - 65543 # docs-rw
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.6@sha256:a37bbb04a0ea3f15b505c6f97637e7ae89bc66541ae23b8d3848024087980e76
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.14.1
            env:
              TZ: "${TIMEZONE}"
              PAPERLESS_REDIS: redis://paperless-redis.selfhosted.svc.cluster.local:6379
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_CONSUMPTION_DIR: /library/consume
              PAPERLESS_DATA_DIR: /library/data
              PAPERLESS_EXPORT_DIR: /library/export
              PAPERLESS_MEDIA_ROOT: /library/media
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD: 8
              PAPERLESS_ALLOWED_HOSTS: "10.0.0.0/8,192.168.0.0/16,localhost,paperless.${SECRET_DOMAIN}"
              PAPERLESS_WORKER_TIMEOUT: 3600
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              # PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              # PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_PORT: &port "8000"
              PAPERLESS_TRUSTED_PROXIES: 10.42.0.0/16,192.168.80.0/24,192.168.83.0/24
              USERMAP_UID: 568
              USERMAP_GID: 65543
            envFrom: *envFrom

            resources:
              requests:
                cpu: 100m
                memory: 1000M
              limits:
                # cpu: 1311m
                memory: 8000M # Something is eating memory

          paperless-gpt:
            image:
              repository: icereed/paperless-gpt
              tag: v0.9.0@sha256:a6807e7687e7d767bda9950624ff350bb4cc33e2c612848194b09a95fb456a47
            env:
              PAPERLESS_BASE_URL: http://localhost:8000
              LLM_PROVIDER: ollama
              PAPERLESS_PUBLIC_URL: https://paperless.${SECRET_DOMAIN}
              LLM_MODEL: solar # could use many different options https://github.com/icereed/paperless-gpt?tab=readme-ov-file#environment-variables
              OLLAMA_HOST: 192.168.1.50
              VISION_LLM_PROVIDER: ollama
              VISION_LLM_MODEL: solar
              LOG_LEVEL: "debug"
            envFrom: *envFrom

          redis:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 7.4.2
              pullPolicy: IfNotPresent
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 128Mi
          # tika:
          #   image:
          #     repository: ghcr.io/paperless-ngx/tika
          #     tag: 2.9.1-full
          #     pullPolicy: IfNotPresent

    service:
      app:
        controller: paperless
        ports:
          http:
            port: *port
      redis:
        controller: paperless
        ports:
          http:
            port: 6379
      paperless-gpt:
        controller: paperless
        ports:
          http:
            port: 8080

    ingress:
      app:
        className: "nginx-internal"
        hosts:
          - host: &host "paperless.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.paperless
            hosts:
              - *host
      paperless-gpt:
        className: "nginx-internal"
        hosts:
          - host: "paperless-gpt.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: paperless-gpt
                  port: http
        tls:
          - secretName: tls.paperless-gpt
            hosts:
              - "paperless-gpt.${SECRET_DOMAIN}"

    persistence:
      # library:
      #   enabled: true
      #   existingClaim: paperless-nfs
      #   mountPath: /library

      library:
        enabled: true
        type: nfs
        server: ${SECRET_NAS3}
        path: /ook/k8s/paperless
        globalMounts:
          - path: /library
      paperless-gpt-app:
        enabled: true
        existingClaim: paperless-gpt-app
        advancedMounts:
          paperless:
            paperless-gpt:
              - path: /app/prompt
