---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: paperless
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            supplementalGroups:
              - 65543 # docs-rw
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.1@sha256:d1dea4d35b2bfa6a3b020c73e0b820da4bb93ee963fa5f18233fa7eb6a48c7f7
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          main:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.4.2
            env:
              TZ: "${TIMEZONE}"
              PAPERLESS_REDIS: redis://localhost:6379
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_CONSUMPTION_DIR: /library/consume
              PAPERLESS_DATA_DIR: /library/data
              PAPERLESS_EXPORT_DIR: /library/export
              PAPERLESS_MEDIA_ROOT: /library/media
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD: 8
              PAPERLESS_ALLOWED_HOSTS: "10.0.0.0/8,192.168.0.0/16,localhost,paperless.${SECRET_DOMAIN}"
              PAPERLESS_WORKER_TIMEOUT: 3600
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              # PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              # PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_PORT: &port "8000"
              PAPERLESS_TRUSTED_PROXIES: 10.42.0.0/16,192.168.80.0/24,192.168.83.0/24
              USERMAP_UID: 568
              USERMAP_GID: 65543
            envFrom: *envFrom

            resources:
              requests:
                cpu: 100m
                memory: 1000M
              limits:
                # cpu: 1311m
                memory: 8000M # Something is eating memory

          gotenburg:
            image:
              repository: thecodingmachine/gotenberg
              tag: 8.0.2
              pullPolicy: IfNotPresent
            env:
              - { name: DISABLE_GOOGLE_CHROME, value: "1" }
          redis:
            image:
              repository: public.ecr.aws/docker/library/redis
              tag: 7.2.4
              pullPolicy: IfNotPresent
          tika:
            image:
              repository: ghcr.io/paperless-ngx/tika
              tag: 2.9.0-full
              pullPolicy: IfNotPresent

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: &host "paperless.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - secretName: tls.paperless
            hosts:
              - *host

    persistence:
      # library:
      #   enabled: true
      #   existingClaim: paperless-nfs
      #   mountPath: /library

      library:
        enabled: true
        type: nfs
        server: ${SECRET_NAS3}
        path: /ook/k8s/paperless
        globalMounts:
          - path: /library

    sidecars:
