---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
  namespace: selfhosted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: paperless
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: node-role.kubernetes.io/control-plane
                        operator: DoesNotExist
          securityContext:
            supplementalGroups:
              - 65543 # docs-rw
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.3
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.8
            env:
              TZ: "${TIMEZONE}"
              PAPERLESS_REDIS: redis://paperless-redis.selfhosted.svc.cluster.local:6379
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_CONSUMPTION_DIR: /library/consume
              PAPERLESS_DATA_DIR: /library/data
              PAPERLESS_EXPORT_DIR: /library/export
              PAPERLESS_MEDIA_ROOT: /library/media
              PAPERLESS_WEBSERVER_WORKERS: "2"
              # PAPERLESS_TASK_WORKERS: 1
              # PAPERLESS_THREADS_PER_WORKER: 2
              # PAPERLESS_OCR_THREADS: 2
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD: 8
              # PAPERLESS_ALLOWED_HOSTS: "10.0.0.0/8,192.168.0.0/16,localhost,paperless.${SECRET_DOMAIN},paperless-app." $ Defaults to "*"
              # PAPERLESS_WORKER_TIMEOUT: 3600
              # PAPERLESS_TIKA_ENABLED: 0
              # PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              # PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              # PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              # PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_PORT: &port "8000"
              PAPERLESS_TRUSTED_PROXIES: 10.42.0.0/16,192.168.80.0/24,192.168.83.0/24
              USERMAP_UID: 568
              USERMAP_GID: 65543
            envFrom: *envFrom
            resources:
              requests:
                cpu: 500m
                memory: 2Gi
              limits:
                # cpu: 1311m
                memory: 8000M # Something is eating memory

          redis:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.3
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 1Gi
          # tika:li
          #   image:
          #     repository: ghcr.io/paperless-ngx/tika
          #     tag: 2.9.1-full
          #     pullPolicy: IfNotPresent

    service:
      app:
        controller: paperless
        ports:
          http:
            port: *port
      redis:
        controller: paperless
        ports:
          http:
            port: 6379

    ingress:
      app:
        className: "nginx-internal"
        annotations:
          nginx.ingress.kubernetes.io/proxy-read-timeout: "60"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "60"
        hosts:
          - host: &host "paperless.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.paperless
            hosts:
              - *host

    persistence:
      library:
        enabled: true
        type: nfs
        server: ${SECRET_NAS3}
        path: /ook/k8s/paperless
        globalMounts:
          - path: /library
