---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpa
  namespace: system-monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: vpa
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
      interval: 5m
  timeout: 20m
  values:
    recommender:
      enabled: true
      image:
        repository: registry.k8s.io/autoscaling/vpa-recommender
        tag: 1.2.0

      resources:
        requests:
          cpu: 15m
          memory: 145M
        limits:
          memory: 174M

      extraArgs:
        pod-recommendation-min-cpu-millicores: 15
        pod-recommendation-min-memory-mb: 61
        storage: prometheus
        prometheus-address: |-
          http://kube-prometheus-stack-prometheus.monitoring-system.svc.cluster.local:9090

    updater:
      enabled: false
    admissionController:
      enabled: false
