---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valheim-family-config
  namespace: selfhosted
  labels:
    triliovault.trilio.io/backup: "true"
    kasten.io/backup-volume: "enabled"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-block
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: valheim-family-nfs-backup
spec:
  storageClassName: valheim-family-nfs-backup
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  nfs:
    path: /mnt/fatguys/Backup/k8s/applications/valheim-family
    server: ${SECRET_NAS1}
  mountOptions:
    - nfsvers=4.1
    - tcp
    - intr
    - hard
    - noatime
    - nodiratime
    - rsize=1048576
    - wsize=1048576

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valheim-family-nfs-backup
  namespace: selfhosted
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: valheim-family-nfs-backup
  resources:
    requests:
      storage: 1Mi
