---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: unpackerr-config
  namespace: downloads
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: unpackerr-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        UN_SONARR_0_API_KEY: "{{ .UN_SONARR_0_API_KEY }}"
        UN_RADARR_0_API_KEY: "{{ .UN_RADARR_0_API_KEY }}"
  dataFrom:
    - extract:
        key: unpackerr
