---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: unpackerr
  namespace: downloads
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controller:
      strategy: RollingUpdate
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
    image:
      repository: ghcr.io/onedr0p/unpackerr
      tag: 0.12.0@sha256:8bbf35be449b89041f07fc069812f79b4eadf56e1c7c7720935fe166016376ef
    env:
      TZ: ${TIMEZONE}
      UN_SONARR_0_URL: http://sonarr.downloads.svc.cluster.local:8989
      UN_SONARR_0_PATHS_0: /media/tv
      UN_RADARR_0_URL: http://radarr.downloads.svc.cluster.local:7878
      UN_RADARR_0_PATHS_0: /media/movies
    envFrom:
      - secretRef:
          name: unpackerr-config
    service:
      main:
        enabled: false
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false
    persistence:
      config:
        enabled: false
      media:
        enabled: true
        existingClaim: downloads-nfs-media
        mountPath: /media
    podAnnotations:
      secret.reloader.stakater.com/reload: unpackerr
    resources:
      requests:
        cpu: 10m
        memory: 25Mi
