---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: trilio-operator
  namespace: trilio
spec:
  interval: 5m
  releaseName: trilio-operator
  chart:
    spec:
      chart: k8s-triliovault-operator
      version: 2.10.1
      sourceRef:
        kind: HelmRepository
        name: trilio-charts
        namespace: flux-system
  values:
    preflight:
      enabled: false

    installTVK:
      enabled: true
      applicationScope: Cluster
      tvkInstanceName: "cluster-0"
      ingressConfig:
        host: "trilio.${CLUSTER_NAME}.${SECRET_DOMAIN}"
        tlsSecretName: "trilio-${CLUSTER_NAME}-tls"
        ingressClass: "nginx-internal"
      ComponentConfiguration:
        ingressController:
          enabled: false

    observability:
      enabled: false
