---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/nfd.k8s-sigs.io/nodefeaturerule_v1alpha1.json
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: zigbee-device
  namespace: kube-system
spec:
  rules:
    - # Zigbee usb dongle
      name: zigbee
      labels:
        custom.feature.node.kubernetes.io/zigbee: "true"
      matchFeatures:
        - feature: pci.device
          matchExpressions:
            vendor: { op: In, value: ["1a86"] }
            class: { op: In, value: ["ff"] }
            device: { op: In, value: ["7523"] }
