---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zalando-postgres
  namespace: database
spec:
  interval: 5m
  chart:
    spec:
      chart: postgres-operator
      version: 1.12.0
      sourceRef:
        kind: HelmRepository
        name: zalando-postgres-operator
        namespace: flux-system
      interval: 5m
  values:
    configMajorVersionUpgrade:
      # "off": no upgrade, "manual": manifest triggers action, "full": minimal version violation triggers too
      major_version_upgrade_mode: full
    configKubernetes:
      enable_pod_antiaffinity: true
      enable_cross_namespace_secret: true
      #pod_environment_configmap: "postgres-pod-config"
      watched_namespace: "*"
      #list of labels that can be inherited from the cluster manifest
      inherited_labels:
        - application
        - environment
      # Disable PDB since they prevent the drain
      # https://github.com/zalando/postgres-operator/issues/547
      enable_pod_disruption_budget: false
      # configure resource requests for the Postgres pods

      pod_environment_configmap: zalando-postgres-pod-configmap
      pod_environment_secret: zalando-postgres-pod-secrets

    configPostgresPodResources:
      # CPU limits for the postgres containers
      default_cpu_limit: "2"
      # CPU request value for the postgres containers
      default_cpu_request: 20m
      # memory limits for the postgres containers
      default_memory_limit: 2500Mi
      # memory request value for the postgres containers
      default_memory_request: 700Mi

      # hard CPU minimum required to properly run a Postgres cluster
      min_cpu_limit: 250m
      # hard memory minimum required to properly run a Postgres cluster
      min_memory_limit: 250Mi

    resources:
      limits:
        memory: 100M
      requests:
        cpu: 5m
        memory: 32M

---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zalando-postgres-operator-ui
  namespace: database
spec:
  interval: 5m
  chart:
    spec:
      chart: postgres-operator-ui
      version: 1.12.2
      sourceRef:
        kind: HelmRepository
        name: zalando-postgres-operator-ui
        namespace: flux-system
      interval: 5m
  values:
    envs:
      targetNamespace:
      resourcesVisible: "True"
      operatorApiUrl: "http://zalando-postgres-postgres-operator:8080"
    ingress:
      enabled: true
      ingressClassName: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-production
        service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: "true"
        nginx.ingress.kubernetes.io/cors-allow-headers: "X-Forwarded-For, X-Real-IP, X-Frame-Options, X-Content-Type-Options, X-Forwarded-Proto"
      hosts:
        - host: &host "zalando.${SECRET_DOMAIN}"
          paths: ["/"]
      tls:
        - secretName: *host
          hosts:
            - *host
