---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: sonarr
  namespace: downloads
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: sonarr
      version: 16.3.0
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      # renovate: docker-image
      repository: ghcr.io/k8s-at-home/sonarr
      tag: v3.0.8.1507

    podSecurityContext:
      fsGroup: 568
      runAsUser: 568
      supplementalGroups:
        - 65539

    env:
      TZ: "${TIMEZONE}"

    persistence:
      config:
        enabled: true
        existingClaim: sonarr-config
      media:
        enabled: true
        existingClaim: downloads-nfs-media
        mountPath: /media
      backup:
        enabled: true
        existingClaim: sonarr-nfs-backup
        mountPath: /config/Backups

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
        - host: &host "sonarr.${SECRET_DOMAIN}"
          paths:
          - path: /
        tls:
        - hosts:
          - *host
          secretName: &tls tls.sonarr

      api:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: *host
            paths:
              - path: /api
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: *tls
          
    resources:
      requests:
        cpu: 23m
        memory: 324M
      limits:
        memory: 728M
