# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres5
  namespace: database
spec:
  instances: 2
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:15-0.4.3@sha256:136256c5dc4ae313360c8e4f54121afb9aa6d52493a85bdb733d0b6b5290b4b1
  enableSuperuserAccess: true

  storage:
    size: 75Gi
    storageClass: local-hostpath
  superuserSecret:
    name: cloudnative-pg-secret

  postgresql:
    shared_preload_libraries:
      # - "vectors.so"
      - vchord.so
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
      pg_stat_statements.max: "10000"
      pg_stat_statements.track: all
  monitoring:
    enablePodMonitor: true

  # Example of rolling update strategy:
  # - unsupervised: automated update of the primary once all
  #                 replicas have been upgraded (default)
  # - supervised: requires manual supervision to perform
  #               the switchover of the primary
  primaryUpdateStrategy: unsupervised

  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    # limits:
    #   cpu: 250m
    #   memory: 640Mi

  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      wal:
        compression: gzip
        maxParallel: 12
      destinationPath: s3://cnpg/
      endpointURL: https://s3.nas.t-vo.us:443
      serverName: &currentCluster postgres5
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-secret
          key: aws-access-key-id
        secretAccessKey:
          name: cloudnative-pg-secret
          key: aws-secret-access-key

  bootstrap:
    # initdb:
    #   postInitSQL:
    #     - CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
    recovery:
      source: &previous-cluster postgres4

  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  # Disabled until first cluster goes up
  externalClusters:
    - name: *previous-cluster
      barmanObjectStore:
        destinationPath: s3://cnpg/
        endpointURL: https://s3.nas.t-vo.us:443
        s3Credentials:
          accessKeyId:
            name: cloudnative-pg-secret
            key: aws-access-key-id
          secretAccessKey:
            name: cloudnative-pg-secret
            key: aws-secret-access-key
        wal:
          compression: gzip
          maxParallel: 12
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres6
  namespace: database
spec:
  instances: 2
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17-1.0.0
  enableSuperuserAccess: true
  affinity:
    enablePodAntiAffinity: true
    podAntiAffinityType: required

  storage:
    size: 75Gi
    storageClass: local-hostpath
  superuserSecret:
    name: cloudnative-pg-secret

  postgresql:
    shared_preload_libraries:
      - vchord.so
    parameters:
      max_connections: "300"
      shared_buffers: 512MB
      pg_stat_statements.max: "10000"
      pg_stat_statements.track: all
  monitoring:
    enablePodMonitor: true

  # Example of rolling update strategy:
  # - unsupervised: automated update of the primary once all
  #                 replicas have been upgraded (default)
  # - supervised: requires manual supervision to perform
  #               the switchover of the primary
  primaryUpdateStrategy: unsupervised

  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    # limits:
    #   cpu: 250m
    #   memory: 640Mi

  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      wal:
        compression: gzip
        maxParallel: 12
      destinationPath: s3://cnpg/
      endpointURL: https://s3.nas.t-vo.us:443
      serverName: &currentCluster postgres6
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-secret
          key: aws-access-key-id
        secretAccessKey:
          name: cloudnative-pg-secret
          key: aws-secret-access-key

  bootstrap:
    initdb:
      postInitSQL:
        - CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
    # recovery:
    #   source: &previous-cluster postgres4
