---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: ${cluster_name}
# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: v1.6.6
kubernetesVersion: v1.29.0
endpoint: https://${cluster_name}.${domain_name}:6443
# domain: cluster.local
# allowSchedulingOnMasters: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

cniConfig:
  name: none
  # urls:
  #   - https://raw.githubusercontent.com/tvories/k8s-gitops/main/k8s/clusters/${cluster_name}/integrations/cilium-quick-install/quick-install.yaml

additionalApiServerCertSans: &san
  - ${cluster_endpoint_ip}
  - ${cluster_name}.${domain_name}
  - "127.0.0.1" # KubePrism

additionalMachineCertSans: *san

nodes:
  # Two virtual cpnodes and 3 physical cpnodes
  # - hostname: talos-cp-1.${domain_name}
  #   controlPlane: true
  #   ipAddress: 192.168.80.91
  #   installDisk: /dev/sda

  # - hostname: talos-cp-2.${domain_name}
  #   controlPlane: true
  #   ipAddress: 192.168.80.92
  #   installDisk: /dev/sda

  # - hostname: talos-cp-3.${domain_name}
  #   controlPlane: true
  #   ipAddress: 192.168.80.93
  #   installDisk: /dev/sda

  # - hostname: physical1.${domain_name}
  #   controlPlane: true
  #   installDiskSelector:
  #     busPath: /pci0000:00/0000:00:1f.2/ata5/host4/target4:0:0/4:0:0:0/
  #   ipAddress: 192.168.80.98
  #   networkInterfaces:
  #     - interface: eth0
  #       dhcp: true
  #       mtu: 9000
  #   installDisk: /dev/sda
  #   # patches:
  #   #   - |-
  #   #     machine:
  #   #       install:
  #   #         extensions:
  #   #           - image: ${gasket_image}
  #   #       kernel:
  #   #         modules:
  #   #           - name: gasket
  #   #           - name: apex

  - hostname: physical2.${domain_name}
    controlPlane: false
    ipAddress: 192.168.80.90
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        dhcp: true
        mtu: 9000
        # vlans:
        #   - &vlan80
        #     vlanId: 80
        #     mtu: 9000
        #     dhcp: true
        #     dhcpOptions:
        #       routeMetric: 4096
    # patches:
    #   - |-
    #     machine:
    #       install:
    #         extensions:
    #           - image: ${gasket_image}
    #       kernel:
    #         modules:
    #           - name: gasket
    #           - name: apex

  # - hostname: sff1.${domain_name}
  #   controlPlane: true
  #   ipAddress: 192.168.80.97
  #   networkInterfaces:
  #     - interface: eth0
  #       dhcp: true
  #       mtu: 9000
  #   installDisk: /dev/sda
  #   # patches:
  #   #   - |-
  #   #     machine:
  #   #       install:
  #   #         extensions:
  #   #           - image: ${gasket_image}
  #   #       kernel:
  #   #         modules:
  #   #           - name: gasket
  #   #           - name: apex
  - hostname: m720q-1.${domain_name}
    controlPlane: true
    ipAddress: 192.168.80.99
    networkInterfaces:
      - interface: eth0
        dhcp: true
        # mtu: 9000
      - interface: enp1s0
        dhcp: true
        mtu: 9000
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/gasket-driver
    # patches:
    #   - |-
    #     machine:
    #     #   install:
    #     #     extensions:
    #     #       - image: ${gasket_image}
    #       kernel:
    #         modules:
    #           - name: gasket
    #           - name: apex

  - hostname: m720q-2.${domain_name}
    controlPlane: true
    installDiskSelector:
      busPath: /pci0000:00/0000:00:17.0/ata1/host0/target0:0:0/0:0:0:0/
    ipAddress: 192.168.80.100
    networkInterfaces:
      - interface: eth0
        dhcp: true
        # mtu: 9000
      - interface: enp1s0
        dhcp: true
        mtu: 9000
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/gasket-driver

  - hostname: m720q-3.${domain_name}
    controlPlane: true
    installDiskSelector:
      busPath: /pci0000:00/0000:00:17.0/ata1/host0/target0:0:0/0:0:0:0/
    ipAddress: 192.168.80.101
    networkInterfaces:
      - interface: eth0
        dhcp: true
        # mtu: 9000
      - interface: enp1s0
        dhcp: true
        mtu: 9000
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/gasket-driver

  # - hostname: talos-worker-1.${domain_name}
  #   ipAddress: 192.168.80.94
  #   installDisk: /dev/sda

  # - hostname: talos-worker-2.${domain_name}
  #   ipAddress: 192.168.80.95
  #   installDisk: /dev/sda

  # - hostname: talos-worker-3.${domain_name}
  #   ipAddress: 192.168.80.96
  #   installDisk: /dev/sda

controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
          - siderolabs/gasket-driver
  patches:
    # Disable search domain everywhere
    - |-
      machine:
        network:
          disableSearchDomain: true

    # Force nameserver
    - |-
      machine:
        network:
          nameservers:
            - 192.168.1.240
            - 192.168.1.241

    # Configure NTP
    - |-
      machine:
        time:
          disabled: false
          servers:
            - 192.168.80.1

    # Enable KubePrism
    - |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    # Configure cluster loopback
    - |-
      machine:
        network:
          extraHostEntries:
            - ip: ${cluster_endpoint_ip}
              aliases:
                - ${cluster_name}.${domain_name}

    # Configure containerd
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true

    # Configure nfs mount options
    - |-
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nodiratime=True
              rsize=131072
              wsize=131072
              nconnect=8

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnMasters: true
        # This must be disabled or else cilium kube-proxy will conflict
        proxy:
          disabled: true

    # ETCD configuration
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 192.168.80.0/24
          extraArgs:
            listen-metrics-urls: http://{{.NodeIP}}:2381

    # Enable Anonymous Auth for HAProxy health check
    - |-
      cluster:
        apiServer:
          extraArgs:
            anonymous-auth: true

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Kubelet configuration
    - |-
      machine:
        kubelet:
          extraArgs:
            feature-gates: GracefulNodeShutdown=true,NewVolumeManagerReconstruction=false
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.80.0/24

worker:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
          - siderolabs/gasket-driver
          # - siderolabs/i915-ucode
