# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      calibre:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/calibre
              tag: version-v7.19.0
            env:
              TZ: "${TIMEZONE}"
              PUID: "568"
              PGID: "65539"
              UMASK_SET: "022"
            resources:
              requests:
                cpu: 100m
                memory: 200M
              limits:
                memory: 2Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
      webserver:
        enabled: true
        controller: *app
        ports:
          webserver:
            enabled: true
            port: 8081
            protocol: TCP
            targetPort: 8081
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${LB_CALIBRE}
        externalTrafficPolicy: Cluster

    ingress:
      app:
        enabled: true
        className: "nginx-internal"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: tls.calibre
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: calibre-config
        globalMounts:
          - path: /config

      media:
        enabled: true
        existingClaim: media-nfs-media
        globalMounts:
          - path: /media

      books:
        enabled: true
        type: nfs
        server: ${SECRET_NAS3}
        path: /ook/Media/ebooks
        globalMounts:
          - path: /books
      uploads:
        enabled: true
        type: nfs
        server: ${SECRET_NAS3}
        path: /ook/Media/ebooks/uploads
        globalMounts:
          - path: /uploads
