---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: calibre
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 0.2.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 5m
  values:
    initContainers:
      update-volume-permission:
        image: busybox@sha256:9810966b5f712084ea05bf28fc8ba2c8fb110baa2531a10e2da52c1efc504698
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0

    image:
      repository: ghcr.io/linuxserver/calibre
      tag: version-v6.8.0

    env:
      TZ: "${TIMEZONE}"
      PUID: "1000"
      PGID: "65539"
      UMASK_SET: "022"

    persistence:
      config:
        enabled: true
        existingClaim: calibre-config
        mountPath: /config

      media:
        enabled: true
        existingClaim: media-nfs-media
        mountPath: /media

      ebooks:
        enabled: true
        type: nfs
        nfs:
        server: ${SECRET_NAS1}
        path: /mnt/fatguys/Books
        mountPath: /books

    service:
      main:
        ports:
          http:
            port: 8080
      webserver:
        enabled: true
        ports:
          webserver:
            enabled: true
            port: 8081
            protocol: TCP
            targetPort: 8081
        type: ClusterIP
    probes:
      startup:
        enabled: false
      liveness:
        enabled: false
      readiness:
        enabled: false

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-internal"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        hosts:
          - host: &host calibre.${SECRET_DOMAIN}
            paths:
              - path: /

        tls:
          - secretName: tls.calibre
            hosts:
              - *host
    resources:
      requests:
        cpu: 224m
        memory: 64M